# Imports

In [1]:
import os
import sys
import json
import spotipy
import webbrowser
import spotipy.util as util
from json.decoder import JSONDecodeError
from collections import OrderedDict
from pandas.io.json import json_normalize    
import pickle
import pandas as pd

# Pickle 50+ artists data

## Columns: artist, spotify popularity, total spotify followers, count of genres, and all albums

In [2]:
with open('kanye.pkl', 'rb') as handle:
    kanye = pickle.load(handle)
kanye

{'artist': 'Kanye West',
 'spotify_artist_id': '5K4W6rqBFWDnAN6FQUkS6x',
 'popularity': 90,
 'followers': '7259123',
 'genres': ['pop', 'pop rap', 'rap'],
 'albums': {'808s & Heartbreak',
  'All Day',
  'Clique',
  'FourFiveSeconds',
  'Graduation',
  'Late Registration',
  'Lift Yourself',
  'My Beautiful Dark Twisted Fantasy',
  'Only One',
  'The College Dropout',
  'The College Dropout (Edited)',
  'The Life Of Pablo',
  "Wouldn't You Like to Ride (S&S Remixes)",
  'Ye vs. the People (starring TI as the People)',
  'Yeezus'}}

In [3]:
l_don = json_normalize(kanye,'albums','artist')
ye = pd.DataFrame([kanye])
ye = ye.drop(columns=['albums','genres'])
ye = ye.merge(l_don,left_on='artist',right_on='artist',how='outer')
ye = ye.rename(columns={0:'albums'})
ye.head()

,artist,followers,popularity,spotify_artist_id,albums
0,Kanye West,7259123,90,5K4W6rqBFWDnAN6FQUkS6x,Only One
1,Kanye West,7259123,90,5K4W6rqBFWDnAN6FQUkS6x,The College Dropout
2,Kanye West,7259123,90,5K4W6rqBFWDnAN6FQUkS6x,The College Dropout (Edited)
3,Kanye West,7259123,90,5K4W6rqBFWDnAN6FQUkS6x,Yeezus
4,Kanye West,7259123,90,5K4W6rqBFWDnAN6FQUkS6x,Graduation

In [4]:
with open('kendrick.pkl', 'rb') as handle:
    kendrick = pickle.load(handle)
kendrick

{'artist': 'Kendrick Lamar',
 'spotify_artist_id': '2YZyLoL8N0Wb9xBt1NhZWg',
 'popularity': 94,
 'followers': '8813295',
 'genres': ['hip hop', 'pop rap', 'rap', 'west coast rap'],
 'albums': {'Black Panther The Album Music From And Inspired By',
  'DAMN.',
  'DAMN. COLLECTORS EDITION.',
  'HUMBLE. (SKRILLEX REMIX)',
  "King's Dead (with Kendrick Lamar, Future & James Blake)",
  'Overly Dedicated',
  'Pray For Me (with Kendrick Lamar)',
  'Section.80',
  'To Pimp A Butterfly',
  'good kid, m.A.A.d city',
  'good kid, m.A.A.d city (Deluxe)',
  'untitled unmastered.'}}

In [5]:
kdot = json_normalize(kendrick,'albums','artist')
lamar = pd.DataFrame([kendrick])
lamar = lamar.drop(columns=['albums','genres'])
lamar = lamar.merge(kdot,left_on='artist',right_on='artist',how='outer')
lamar = lamar.rename(columns={0:'albums'})
main1 = ye.append(lamar)
main1

,artist,followers,popularity,spotify_artist_id,albums
0,Kanye West,7259123,90,5K4W6rqBFWDnAN6FQUkS6x,Only One
1,Kanye West,7259123,90,5K4W6rqBFWDnAN6FQUkS6x,The College Dropout
2,Kanye West,7259123,90,5K4W6rqBFWDnAN6FQUkS6x,The College Dropout (Edited)
3,Kanye West,7259123,90,5K4W6rqBFWDnAN6FQUkS6x,Yeezus
4,Kanye West,7259123,90,5K4W6rqBFWDnAN6FQUkS6x,Graduation
5,Kanye West,7259123,90,5K4W6rqBFWDnAN6FQUkS6x,Wouldn't You Like to Ride (S&S Remixes)
6,Kanye West,7259123,90,5K4W6rqBFWDnAN6FQUkS6x,All Day
7,Kanye West,7259123,90,5K4W6rqBFWDnAN6FQUkS6x,808s & Heartbreak
8,Kanye West,7259123,90,5K4W6rqBFWDnAN6FQUkS6x,Lift Yourself
9,Kanye West,7259123,90,5K4W6rqBFWDnAN6FQUkS6x,My Beautiful Dark Twisted Fantasy
10,Kanye West,7259123,90,5K4W6rqBFWDnAN6FQUkS6x,The Life Of Pablo
11,Kanye West,7259123,90,5K4W6rqBFWDnAN6FQUkS6x,FourFiveSeconds
12,Kanye West,7259123,90,5K4W6rqBFWDnAN6FQUkS6x,Ye vs. the People (starring TI as the People)
13,Kanye West,7259123,90,5K4W6rqBFWDnAN6FQUkS6x,Clique
14,Kanye West,7259123,90,5K4W6rqBFWDnAN6FQUkS6x,Late Registration
0,Kendrick Lamar,8813295,94,2YZyLoL8N0Wb9xBt1NhZWg,To Pimp A Butterfly
1,Kendrick Lamar,8813295,94,2YZyLoL8N0Wb9xBt1NhZWg,Black Panther The Album Music From And Inspire...
2,Kendrick Lamar,8813295,94,2YZyLoL8N0Wb9xBt1NhZWg,"good kid, m.A.A.d city (Deluxe)"
3,Kendrick Lamar,8813295,94,2YZyLoL8N0Wb9xBt1NhZWg,Section.80
4,Kendrick Lamar,8813295,94,2YZyLoL8N0Wb9xBt1NhZWg,HUMBLE. (SKRILLEX REMIX)
5,Kendrick Lamar,8813295,94,2YZyLoL8N0Wb9xBt1NhZWg,DAMN. COLLECTORS EDITION.
6,Kendrick Lamar,8813295,94,2YZyLoL8N0Wb9xBt1NhZWg,Overly Dedicated
7,Kendrick Lamar,8813295,94,2YZyLoL8N0Wb9xBt1NhZWg,Pray For Me (with Kendrick Lamar)
8,Kendrick Lamar,8813295,94,2YZyLoL8N0Wb9xBt1NhZWg,untitled unmastered.
9,Kendrick Lamar,8813295,94,2YZyLoL8N0Wb9xBt1NhZWg,DAMN.
10,Kendrick Lamar,8813295,94,2YZyLoL8N0Wb9xBt1NhZWg,"good kid, m.A.A.d city"
11,Kendrick Lamar,8813295,94,2YZyLoL8N0Wb9xBt1NhZWg,"King's Dead (with Kendrick Lamar, Future & Jam..."

In [6]:
with open('travis.pkl', 'rb') as handle:
    travis = pickle.load(handle)
travis

{'artist': 'Travis Scott',
 'spotify_artist_id': '0Y5tJX1MQlPlqiwlOH1tJY',
 'popularity': 90,
 'followers': '2627425',
 'genres': ['pop', 'pop rap', 'rap', 'trap music'],
 'albums': {'Birds In The Trap Sing McKnight',
  'Butterfly Effect',
  'Dark Knight Dummo (Feat. Travis Scott)',
  'Fish N Grits (feat. Travis Scott)',
  'Go Off',
  'Huncho Jack, Jack Huncho',
  'Know No Better',
  'Know No Better (Remixes)',
  'Mediterranean',
  'Rodeo (Deluxe)',
  'Watch (feat. Lil Uzi Vert & Kanye West)',
  "Whole Lotta Lovin' (Bad Royale Remix)",
  "Whole Lotta Lovin' (Djemba Djemba Remix)",
  "Whole Lotta Lovin' (Grandtheft Remix)",
  "Whole Lotta Lovin' (With You Remix)",
  'pick up the phone'}}

In [7]:
trav = json_normalize(travis,'albums','artist')
scott = pd.DataFrame([travis])
scott = scott.drop(columns=['albums','genres'])
scott = scott.merge(trav,left_on='artist',right_on='artist',how='outer')
scott = scott.rename(columns={0:'albums'})
main = main1.append(scott)
main

,artist,followers,popularity,spotify_artist_id,albums
0,Kanye West,7259123,90,5K4W6rqBFWDnAN6FQUkS6x,Only One
1,Kanye West,7259123,90,5K4W6rqBFWDnAN6FQUkS6x,The College Dropout
2,Kanye West,7259123,90,5K4W6rqBFWDnAN6FQUkS6x,The College Dropout (Edited)
3,Kanye West,7259123,90,5K4W6rqBFWDnAN6FQUkS6x,Yeezus
4,Kanye West,7259123,90,5K4W6rqBFWDnAN6FQUkS6x,Graduation
5,Kanye West,7259123,90,5K4W6rqBFWDnAN6FQUkS6x,Wouldn't You Like to Ride (S&S Remixes)
6,Kanye West,7259123,90,5K4W6rqBFWDnAN6FQUkS6x,All Day
7,Kanye West,7259123,90,5K4W6rqBFWDnAN6FQUkS6x,808s & Heartbreak
8,Kanye West,7259123,90,5K4W6rqBFWDnAN6FQUkS6x,Lift Yourself
9,Kanye West,7259123,90,5K4W6rqBFWDnAN6FQUkS6x,My Beautiful Dark Twisted Fantasy
10,Kanye West,7259123,90,5K4W6rqBFWDnAN6FQUkS6x,The Life Of Pablo
11,Kanye West,7259123,90,5K4W6rqBFWDnAN6FQUkS6x,FourFiveSeconds
12,Kanye West,7259123,90,5K4W6rqBFWDnAN6FQUkS6x,Ye vs. the People (starring TI as the People)
13,Kanye West,7259123,90,5K4W6rqBFWDnAN6FQUkS6x,Clique
14,Kanye West,7259123,90,5K4W6rqBFWDnAN6FQUkS6x,Late Registration
0,Kendrick Lamar,8813295,94,2YZyLoL8N0Wb9xBt1NhZWg,To Pimp A Butterfly
1,Kendrick Lamar,8813295,94,2YZyLoL8N0Wb9xBt1NhZWg,Black Panther The Album Music From And Inspire...
2,Kendrick Lamar,8813295,94,2YZyLoL8N0Wb9xBt1NhZWg,"good kid, m.A.A.d city (Deluxe)"
3,Kendrick Lamar,8813295,94,2YZyLoL8N0Wb9xBt1NhZWg,Section.80
4,Kendrick Lamar,8813295,94,2YZyLoL8N0Wb9xBt1NhZWg,HUMBLE. (SKRILLEX REMIX)
5,Kendrick Lamar,8813295,94,2YZyLoL8N0Wb9xBt1NhZWg,DAMN. COLLECTORS EDITION.
6,Kendrick Lamar,8813295,94,2YZyLoL8N0Wb9xBt1NhZWg,Overly Dedicated
7,Kendrick Lamar,8813295,94,2YZyLoL8N0Wb9xBt1NhZWg,Pray For Me (with Kendrick Lamar)
8,Kendrick Lamar,8813295,94,2YZyLoL8N0Wb9xBt1NhZWg,untitled unmastered.
9,Kendrick Lamar,8813295,94,2YZyLoL8N0Wb9xBt1NhZWg,DAMN.
10,Kendrick Lamar,8813295,94,2YZyLoL8N0Wb9xBt1NhZWg,"good kid, m.A.A.d city"
11,Kendrick Lamar,8813295,94,2YZyLoL8N0Wb9xBt1NhZWg,"King's Dead (with Kendrick Lamar, Future & Jam..."
0,Travis Scott,2627425,90,0Y5tJX1MQlPlqiwlOH1tJY,Dark Knight Dummo (Feat. Travis Scott)
1,Travis Scott,2627425,90,0Y5tJX1MQlPlqiwlOH1tJY,Know No Better (Remixes)
2,Travis Scott,2627425,90,0Y5tJX1MQlPlqiwlOH1tJY,"Huncho Jack, Jack Huncho"
3,Travis Scott,2627425,90,0Y5tJX1MQlPlqiwlOH1tJY,Whole Lotta Lovin' (With You Remix)
4,Travis Scott,2627425,90,0Y5tJX1MQlPlqiwlOH1tJY,Watch (feat. Lil Uzi Vert & Kanye West)
5,Travis Scott,2627425,90,0Y5tJX1MQlPlqiwlOH1tJY,Go Off
6,Travis Scott,2627425,90,0Y5tJX1MQlPlqiwlOH1tJY,Whole Lotta Lovin' (Djemba Djemba Remix)
7,Travis Scott,2627425,90,0Y5tJX1MQlPlqiwlOH1tJY,Whole Lotta Lovin' (Grandtheft Remix)
8,Travis Scott,2627425,90,0Y5tJX1MQlPlqiwlOH1tJY,Mediterranean
9,Travis Scott,2627425,90,0Y5tJX1MQlPlqiwlOH1tJY,Know No Better
10,Travis Scott,2627425,90,0Y5tJX1MQlPlqiwlOH1tJY,pick up the phone
11,Travis Scott,2627425,90,0Y5tJX1MQlPlqiwlOH1tJY,Birds In The Trap Sing McKnight
12,Travis Scott,2627425,90,0Y5tJX1MQlPlqiwlOH1tJY,Fish N Grits (feat. Travis Scott)
13,Travis Scott,2627425,90,0Y5tJX1MQlPlqiwlOH1tJY,Whole Lotta Lovin' (Bad Royale Remix)
14,Travis Scott,2627425,90,0Y5tJX1MQlPlqiwlOH1tJY,Rodeo (Deluxe)
15,Travis Scott,2627425,90,0Y5tJX1MQlPlqiwlOH1tJY,Butterfly Effect

In [8]:
with open('migos.pkl', 'rb') as handle:
    migos = pickle.load(handle)
migos

{'artist': 'Migos',
 'spotify_artist_id': '6oMuImdp5ZcFhWP0ESe6mG',
 'popularity': 91,
 'followers': '5268541',
 'genres': ['pop', 'rap', 'trap music'],
 'albums': {"Bosses Don't Speak",
  'Culture',
  'Culture II',
  'Currency',
  'Juug Season',
  'No Label',
  'No Label II',
  'Rich Ni**a Timeline',
  'Rich Shooters',
  'Solitaire (feat. Migos & Lil Yachty)',
  'The Green Album',
  'YRN 2 (Young Rich Niggas 2)',
  'Young Rich N*ggas',
  'Yung Rich Nation'}}

In [9]:
yrn = json_normalize(migos,'albums','artist')
versace = pd.DataFrame([migos])
versace = versace.drop(columns=['albums','genres'])
versace = versace.merge(yrn,left_on='artist',right_on='artist',how='outer')
versace = versace.rename(columns={0:'albums'})
main2 = main.append(versace)
main2.head()

,artist,followers,popularity,spotify_artist_id,albums
0,Kanye West,7259123,90,5K4W6rqBFWDnAN6FQUkS6x,Only One
1,Kanye West,7259123,90,5K4W6rqBFWDnAN6FQUkS6x,The College Dropout
2,Kanye West,7259123,90,5K4W6rqBFWDnAN6FQUkS6x,The College Dropout (Edited)
3,Kanye West,7259123,90,5K4W6rqBFWDnAN6FQUkS6x,Yeezus
4,Kanye West,7259123,90,5K4W6rqBFWDnAN6FQUkS6x,Graduation

In [10]:
with open('jaden.pkl', 'rb') as handle:
    j_smith = pickle.load(handle)
j_smith

{'artist': 'Jaden Smith',
 'spotify_artist_id': '0xOeVMOz2fVg5BJY3N6akT',
 'popularity': 74,
 'followers': '379461',
 'genres': ['pop', 'pop rap', 'rap', 'underground hip hop'],
 'albums': {'All About You',
  'Batman',
  'Best Of 2017 Hip Hop',
  'CTV2',
  'Cozy Tapes Vol. 2: Too Cozy',
  'FREQUENCY',
  'Falcon (feat. Raury)',
  'Flower Boy',
  'Hip Hop Hit List (Vol. IV)',
  'Like Butter',
  'SYRE',
  'The Get Down: Original Soundtrack From The Netflix Original Series (Deluxe Version)',
  'Underground Rap',
  'Uno Dos (feat. Jaden Smith)',
  'Watch Me'}}

In [11]:
smith = json_normalize(j_smith,'albums','artist')
syre = pd.DataFrame([j_smith])
syre = syre.drop(columns=['albums','genres'])
syre = syre.merge(smith,left_on='artist',right_on='artist',how='outer')
syre = syre.rename(columns={0:'albums'})

main3 = main2.append(syre)
main3.head()

,artist,followers,popularity,spotify_artist_id,albums
0,Kanye West,7259123,90,5K4W6rqBFWDnAN6FQUkS6x,Only One
1,Kanye West,7259123,90,5K4W6rqBFWDnAN6FQUkS6x,The College Dropout
2,Kanye West,7259123,90,5K4W6rqBFWDnAN6FQUkS6x,The College Dropout (Edited)
3,Kanye West,7259123,90,5K4W6rqBFWDnAN6FQUkS6x,Yeezus
4,Kanye West,7259123,90,5K4W6rqBFWDnAN6FQUkS6x,Graduation

In [12]:
with open('rich_brian.pkl', 'rb') as handle:
    brian = pickle.load(handle)
brian

{'artist': 'Rich Brian',
 'spotify_artist_id': '2IDLDx25HU1nQMKde4n61a',
 'popularity': 74,
 'followers': '622901',
 'genres': ['indonesian hip hop', 'underground hip hop', 'vapor trap'],
 'albums': {'18',
  'Amen',
  'Back At It',
  'Chaos',
  'Crisis (feat. 21 Savage)',
  'Dat $tick (Remix) [feat. Ghostface Killah & Pouya]',
  'Glow Like Dat',
  'Gospel',
  'See Me',
  'Seventeen',
  'Who That Be',
  'Who That Be (Josh Pan & West1ne Remix)',
  'watch out!'}}

In [13]:
chigga = json_normalize(brian,'albums','artist')
rich = pd.DataFrame([brian])
rich = rich.drop(columns=['albums','genres'])
rich = rich.merge(chigga,left_on='artist',right_on='artist',how='outer')
rich = rich.rename(columns={0:'albums'})

main4 = main3.append(rich)
main4.head()

,artist,followers,popularity,spotify_artist_id,albums
0,Kanye West,7259123,90,5K4W6rqBFWDnAN6FQUkS6x,Only One
1,Kanye West,7259123,90,5K4W6rqBFWDnAN6FQUkS6x,The College Dropout
2,Kanye West,7259123,90,5K4W6rqBFWDnAN6FQUkS6x,The College Dropout (Edited)
3,Kanye West,7259123,90,5K4W6rqBFWDnAN6FQUkS6x,Yeezus
4,Kanye West,7259123,90,5K4W6rqBFWDnAN6FQUkS6x,Graduation

In [14]:
with open('post.pkl', 'rb') as handle:
    posty = pickle.load(handle)
posty

{'artist': 'Post Malone',
 'spotify_artist_id': '246dkjvS1zLTtiykXe5h60',
 'popularity': 100,
 'followers': '3792488',
 'genres': ['pop', 'rap'],
 'albums': {'Candy Paint',
  'Congratulations (Remix)',
  'Crowd Pleasers (Vol. II)',
  'Culture II',
  'Finessed Flow',
  'Light Of Day',
  'Mr Fly, Vol. 2',
  "NOW That's What I Call Music, Vol. 65",
  'Psycho (feat. Ty Dolla $ign)',
  'Spanglish Favorites',
  'Stoney (Deluxe)',
  'YOU',
  'beerbongs & bentleys',
  'rockstar (Remix)',
  'rockstar (feat. 21 Savage)'}}

In [15]:
post = json_normalize(posty,'albums','artist')
pm = pd.DataFrame([posty])
pm = pm.drop(columns=['albums','genres'])
pm = pm.merge(post,left_on='artist',right_on='artist',how='outer')
pm = pm.rename(columns={0:'albums'})

main5 = main4.append(pm)
main5.head()

,artist,followers,popularity,spotify_artist_id,albums
0,Kanye West,7259123,90,5K4W6rqBFWDnAN6FQUkS6x,Only One
1,Kanye West,7259123,90,5K4W6rqBFWDnAN6FQUkS6x,The College Dropout
2,Kanye West,7259123,90,5K4W6rqBFWDnAN6FQUkS6x,The College Dropout (Edited)
3,Kanye West,7259123,90,5K4W6rqBFWDnAN6FQUkS6x,Yeezus
4,Kanye West,7259123,90,5K4W6rqBFWDnAN6FQUkS6x,Graduation

In [16]:
with open('rae.pkl', 'rb') as handle:
    rae = pickle.load(handle)
rae

{'artist': 'Rae Sremmurd',
 'spotify_artist_id': '7iZtZyCzp3LItcw1wtPI3D',
 'popularity': 86,
 'followers': '3126910',
 'genres': ['hip hop',
  'pop',
  'pop rap',
  'rap',
  'southern hip hop',
  'trap music'],
 'albums': {'Aries (YuGo) Part 2 (with Rae Sremmurd & Big Sean feat. Quavo & Pharrell)',
  'CLOSE (feat. Travis Scott)',
  'Chanel (feat. Swae Lee & Pharrell)',
  'Guatemala (feat. Slim Jxmmi)',
  'Hands On Me',
  'Perplexing Pegasus',
  'Powerglide (feat. Juicy J)',
  'SR3MM',
  'SremmLife',
  'SremmLife 2 (Deluxe)',
  'T’d Up'}}

In [17]:
srumm = json_normalize(rae,'albums','artist')
sremm = pd.DataFrame([rae])
sremm = sremm.drop(columns=['albums','genres'])
sremm = sremm.merge(srumm,left_on='artist',right_on='artist',how='outer')
sremm = sremm.rename(columns={0:'albums'})

main6 = main5.append(sremm)
main6.head()

,artist,followers,popularity,spotify_artist_id,albums
0,Kanye West,7259123,90,5K4W6rqBFWDnAN6FQUkS6x,Only One
1,Kanye West,7259123,90,5K4W6rqBFWDnAN6FQUkS6x,The College Dropout
2,Kanye West,7259123,90,5K4W6rqBFWDnAN6FQUkS6x,The College Dropout (Edited)
3,Kanye West,7259123,90,5K4W6rqBFWDnAN6FQUkS6x,Yeezus
4,Kanye West,7259123,90,5K4W6rqBFWDnAN6FQUkS6x,Graduation

In [18]:
with open('drake.pkl', 'rb') as handle:
    drake = pickle.load(handle)
drake

{'artist': 'Drake',
 'spotify_artist_id': '3TVXtAsR1Inumwj472S9r4',
 'popularity': 99,
 'followers': '19729716',
 'genres': ['canadian hip hop', 'canadian pop', 'hip hop', 'pop rap', 'rap'],
 'albums': {"If You're Reading This It's Too Late",
  'More Life',
  'Nothing Was The Same',
  'Nothing Was The Same (Deluxe)',
  'So Far Gone',
  'Take Care (Deluxe)',
  'Thank Me Later',
  'Views',
  'What A Time To Be Alive'}}

In [19]:
six = json_normalize(drake,'albums','artist')
drizzy = pd.DataFrame([drake])
drizzy = drizzy.drop(columns=['albums','genres'])
drizzy = drizzy.merge(six,left_on='artist',right_on='artist',how='outer')
drizzy = drizzy.rename(columns={0:'albums'})

main7 = main6.append(drizzy)
main7.head()

,artist,followers,popularity,spotify_artist_id,albums
0,Kanye West,7259123,90,5K4W6rqBFWDnAN6FQUkS6x,Only One
1,Kanye West,7259123,90,5K4W6rqBFWDnAN6FQUkS6x,The College Dropout
2,Kanye West,7259123,90,5K4W6rqBFWDnAN6FQUkS6x,The College Dropout (Edited)
3,Kanye West,7259123,90,5K4W6rqBFWDnAN6FQUkS6x,Yeezus
4,Kanye West,7259123,90,5K4W6rqBFWDnAN6FQUkS6x,Graduation

In [20]:
with open('rocky.pkl', 'rb') as handle:
    rocky = pickle.load(handle)
rocky

{'artist': 'A$AP Rocky',
 'spotify_artist_id': '13ubrt8QOOCPljQ2FL1Kca',
 'popularity': 88,
 'followers': '3611147',
 'genres': ['east coast hip hop',
  'hip hop',
  'pop',
  'pop rap',
  'rap',
  'southern hip hop',
  'trap music'],
 'albums': {'A$AP Forever',
  'AT.LONG.LAST.A$AP',
  'Bad Company',
  'Cocky',
  "Dawsin's Breek (feat. A$AP Rocky) [Remix]",
  'Everyday',
  'FTW (F**k The World) [with A$AP Rocky & Tom Morello] [From Bright: The Album]',
  'L$D',
  'LONG.LIVE.A$AP',
  'LONG.LIVE.A$AP (Deluxe Version)',
  "M'$",
  'Pick It Up (feat. A$AP Rocky)'}}

In [21]:
rakim = json_normalize(rocky,'albums','artist')
flacko = pd.DataFrame([rocky])
flacko = flacko.drop(columns=['albums','genres'])
flacko = flacko.merge(rakim,left_on='artist',right_on='artist',how='outer')
flacko = flacko.rename(columns={0:'albums'})

main8 = main7.append(flacko)
main8.head()

,artist,followers,popularity,spotify_artist_id,albums
0,Kanye West,7259123,90,5K4W6rqBFWDnAN6FQUkS6x,Only One
1,Kanye West,7259123,90,5K4W6rqBFWDnAN6FQUkS6x,The College Dropout
2,Kanye West,7259123,90,5K4W6rqBFWDnAN6FQUkS6x,The College Dropout (Edited)
3,Kanye West,7259123,90,5K4W6rqBFWDnAN6FQUkS6x,Yeezus
4,Kanye West,7259123,90,5K4W6rqBFWDnAN6FQUkS6x,Graduation

In [22]:
with open('ferg.pkl', 'rb') as handle:
    ferg = pickle.load(handle)
ferg

{'artist': 'A$AP Ferg',
 'spotify_artist_id': '5dHt1vcEm9qb8fCyLcB3HL',
 'popularity': 80,
 'followers': '1238358',
 'genres': ['hip hop',
  'pop',
  'pop rap',
  'rap',
  'southern hip hop',
  'trap music',
  'underground hip hop'],
 'albums': {'ALWAYS STRIVE AND PROSPER',
  'Drip',
  'East Coast REMIX',
  'How I Feel',
  'Kristi',
  'Moon River',
  'Nasty (Who Dat)',
  'Plain Jane',
  'Plain Jane REMIX',
  'Pull Up (feat. Joey Bada$$ & A$AP Ferg)',
  'Still Striving',
  'Trap Lord'}}

In [23]:
trap = json_normalize(ferg,'albums','artist')
lord = pd.DataFrame([ferg])
lord = lord.drop(columns=['albums','genres'])
lord = lord.merge(trap,left_on='artist',right_on='artist',how='outer')
lord = lord.rename(columns={0:'albums'})

main9 = main8.append(lord)
main9.head()

,artist,followers,popularity,spotify_artist_id,albums
0,Kanye West,7259123,90,5K4W6rqBFWDnAN6FQUkS6x,Only One
1,Kanye West,7259123,90,5K4W6rqBFWDnAN6FQUkS6x,The College Dropout
2,Kanye West,7259123,90,5K4W6rqBFWDnAN6FQUkS6x,The College Dropout (Edited)
3,Kanye West,7259123,90,5K4W6rqBFWDnAN6FQUkS6x,Yeezus
4,Kanye West,7259123,90,5K4W6rqBFWDnAN6FQUkS6x,Graduation

In [24]:
with open('21_savage.pkl', 'rb') as handle:
    savage = pickle.load(handle)
savage

{'artist': '21 Savage',
 'spotify_artist_id': '1URnnhqYAYcrqrcwql10ft',
 'popularity': 90,
 'followers': '3926883',
 'genres': ['pop', 'rap', 'trap music'],
 'albums': {'6AM In Havendale',
  'Between Us (feat. 21 Savage)',
  'Cocky',
  'How to Ball',
  'Hunnid On The Drop',
  'Issa Album',
  'One Foot',
  'Outstanding (feat. 21 Savage)',
  'Red Opps',
  'Rover 2.0 (feat. 21 Savage)',
  'Savage Mode',
  'Slaughter King',
  'The Race (Remix)',
  'The Slaughter Tape',
  'Without Warning',
  'Yea Yea Yea (Instrumental)'}}

In [25]:
one = json_normalize(savage,'albums','artist')
twenty = pd.DataFrame([savage])
twenty = twenty.drop(columns=['albums','genres'])
twenty = twenty.merge(one,left_on='artist',right_on='artist',how='outer')
twenty = twenty.rename(columns={0:'albums'})

main10 = main9.append(twenty)
main10.head()

,artist,followers,popularity,spotify_artist_id,albums
0,Kanye West,7259123,90,5K4W6rqBFWDnAN6FQUkS6x,Only One
1,Kanye West,7259123,90,5K4W6rqBFWDnAN6FQUkS6x,The College Dropout
2,Kanye West,7259123,90,5K4W6rqBFWDnAN6FQUkS6x,The College Dropout (Edited)
3,Kanye West,7259123,90,5K4W6rqBFWDnAN6FQUkS6x,Yeezus
4,Kanye West,7259123,90,5K4W6rqBFWDnAN6FQUkS6x,Graduation

In [26]:
with open('big_sean.pkl', 'rb') as handle:
    sean = pickle.load(handle)
sean

{'artist': 'Big Sean',
 'spotify_artist_id': '0c173mlxpT3dSFRgMO8XPh',
 'popularity': 86,
 'followers': '3981514',
 'genres': ['detroit hip hop',
  'hip hop',
  'pop',
  'pop rap',
  'rap',
  'southern hip hop',
  'trap music'],
 'albums': {'Alone (Feat. Big Sean & Stefflon Don)',
  'Alone (Remixes) (Feat. Big Sean & Stefflon Don)',
  'Aries (YuGo) Part 2 (with Rae Sremmurd & Big Sean feat. Quavo & Pharrell)',
  'Dark Sky Paradise',
  'Dark Sky Paradise (Deluxe)',
  'Double Or Nothing (& Metro Boomin)',
  'Finally Famous',
  'Finally Famous (Deluxe)',
  'Hall Of Fame',
  'Hall Of Fame (Deluxe)',
  'I Decided.',
  'Living Single'}}

In [27]:
big = json_normalize(sean,'albums','artist')
don = pd.DataFrame([sean])
don = don.drop(columns=['albums','genres'])
don = don.merge(big,left_on='artist',right_on='artist',how='outer')
don = don.rename(columns={0:'albums'})

main11 = main10.append(don)
main11.head()

,artist,followers,popularity,spotify_artist_id,albums
0,Kanye West,7259123,90,5K4W6rqBFWDnAN6FQUkS6x,Only One
1,Kanye West,7259123,90,5K4W6rqBFWDnAN6FQUkS6x,The College Dropout
2,Kanye West,7259123,90,5K4W6rqBFWDnAN6FQUkS6x,The College Dropout (Edited)
3,Kanye West,7259123,90,5K4W6rqBFWDnAN6FQUkS6x,Yeezus
4,Kanye West,7259123,90,5K4W6rqBFWDnAN6FQUkS6x,Graduation

In [28]:
with open('pusha_t.pkl', 'rb') as handle:
    pusha = pickle.load(handle)
pusha

{'artist': 'Pusha T',
 'spotify_artist_id': '0ONHkAv9pCAFxb0zJwDNTy',
 'popularity': 73,
 'followers': '706898',
 'genres': ['alternative hip hop',
  'dirty south rap',
  'gangster rap',
  'hip hop',
  'pop rap',
  'rap',
  'southern hip hop',
  'trap music',
  'underground hip hop'],
 'albums': {'Circles',
  'Drug Dealers Anonymous',
  'Fear of God II',
  'H.G.T.V. Freestyle',
  'King Push – Darkest Before Dawn: The Prelude',
  'Lunch Money',
  'Miami (feat. Pusha T)',
  'Millions',
  'My Name Is My Name',
  'Spotify Sessions',
  'What Yall Wanted'}}

In [29]:
prez = json_normalize(pusha,'albums','artist')
powder = pd.DataFrame([pusha])
powder = powder.drop(columns=['albums','genres'])
powder = powder.merge(prez,left_on='artist',right_on='artist',how='outer')
powder = powder.rename(columns={0:'albums'})

main12 = main11.append(powder)
main12.head()

,artist,followers,popularity,spotify_artist_id,albums
0,Kanye West,7259123,90,5K4W6rqBFWDnAN6FQUkS6x,Only One
1,Kanye West,7259123,90,5K4W6rqBFWDnAN6FQUkS6x,The College Dropout
2,Kanye West,7259123,90,5K4W6rqBFWDnAN6FQUkS6x,The College Dropout (Edited)
3,Kanye West,7259123,90,5K4W6rqBFWDnAN6FQUkS6x,Yeezus
4,Kanye West,7259123,90,5K4W6rqBFWDnAN6FQUkS6x,Graduation

In [30]:
with open('kid_cudi.pkl', 'rb') as handle:
    cudi = pickle.load(handle)
cudi

{'artist': 'Kid Cudi',
 'spotify_artist_id': '0fA0VVWsXO9YnASrzqfmYu',
 'popularity': 77,
 'followers': '2353954',
 'genres': ['hip hop', 'pop rap', 'rap'],
 'albums': {"Day 'N' Nite (Crookers Remix)",
  'Indicud',
  'KiD CuDi presents SATELLITE FLIGHT: The journey to Mother Moon',
  'LoFi Chillhop',
  'Man On The Moon II: The Legend Of Mr. Rager',
  'Man On The Moon: The End Of Day',
  'Man On The Moon: The End Of Day (Deluxe)',
  'No One Believes Me',
  "Passion, Pain & Demon Slayin'",
  'Pursuit Of Happiness [Extended Steve Aoki Remix (Explicit)]',
  "Speedin' Bullet 2 Heaven",
  "Surfin'"}}

In [31]:
kid = json_normalize(cudi,'albums','artist')
cudder = pd.DataFrame([cudi])
cudder = cudder.drop(columns=['albums','genres'])
cudder = cudder.merge(kid,left_on='artist',right_on='artist',how='outer')
cudder = cudder.rename(columns={0:'albums'})

main13 = main12.append(cudder)
main13.head()

,artist,followers,popularity,spotify_artist_id,albums
0,Kanye West,7259123,90,5K4W6rqBFWDnAN6FQUkS6x,Only One
1,Kanye West,7259123,90,5K4W6rqBFWDnAN6FQUkS6x,The College Dropout
2,Kanye West,7259123,90,5K4W6rqBFWDnAN6FQUkS6x,The College Dropout (Edited)
3,Kanye West,7259123,90,5K4W6rqBFWDnAN6FQUkS6x,Yeezus
4,Kanye West,7259123,90,5K4W6rqBFWDnAN6FQUkS6x,Graduation

In [32]:
with open('future.pkl', 'rb') as handle:
    future = pickle.load(handle)
future

{'artist': 'Future',
 'spotify_artist_id': '1RyvyyTE3xzB2ZywiAwp0i',
 'popularity': 91,
 'followers': '6248707',
 'genres': ['pop', 'pop rap', 'rap', 'southern hip hop', 'trap music'],
 'albums': {'Astronaut Status',
  'Beast Mode',
  'Beast Mode (Instrumentals)',
  'DS2 (Deluxe)',
  'DS2 - Track by Track Commentary',
  'EVOL',
  'FUTURE',
  'HNDRXX',
  'Honest',
  'No Shame (From the Original Motion Picture Soundtrack SUPERFLY)',
  'Pluto',
  'Pluto 3D',
  'SUPER SLIMEY',
  'What A Time To Be Alive'}}

In [33]:
atl = json_normalize(future,'albums','artist')
hendrix = pd.DataFrame([future])
hendrix = hendrix.drop(columns=['albums','genres'])
hendrix = hendrix.merge(atl,left_on='artist',right_on='artist',how='outer')
hendrix = hendrix.rename(columns={0:'albums'})

main14 = main13.append(hendrix)
main14.head()

,artist,followers,popularity,spotify_artist_id,albums
0,Kanye West,7259123,90,5K4W6rqBFWDnAN6FQUkS6x,Only One
1,Kanye West,7259123,90,5K4W6rqBFWDnAN6FQUkS6x,The College Dropout
2,Kanye West,7259123,90,5K4W6rqBFWDnAN6FQUkS6x,The College Dropout (Edited)
3,Kanye West,7259123,90,5K4W6rqBFWDnAN6FQUkS6x,Yeezus
4,Kanye West,7259123,90,5K4W6rqBFWDnAN6FQUkS6x,Graduation

In [34]:
with open('french_montana.pkl', 'rb') as handle:
    french = pickle.load(handle)
french

{'artist': 'French Montana',
 'spotify_artist_id': '6vXTefBL93Dj5IqAWq6OTv',
 'popularity': 85,
 'followers': '1519169',
 'genres': ['hip hop',
  'pop',
  'pop rap',
  'rap',
  'southern hip hop',
  'trap music'],
 'albums': {'Boom Boom (Mr. Pauer Remix)',
  'Boom Boom (Steven Spence Remix)',
  'Casino Life - Mr. 16',
  'Casino Life: Mr. 16',
  'Cocaine Konvicts',
  'Coke Boys',
  'Coke Boys (Deluxe Collectors Edition)',
  'Coke Boys 2',
  'Coke Boys 3',
  'Coke Boys Tour',
  'Coke Wave 2',
  'Excuse My French',
  'Excuse My French (Deluxe)',
  'French Revolution',
  'Goon Music 2.0',
  'Jungle Rules',
  'Lock Out',
  'Olha A Explosão (Remix)'}}

In [35]:
fm = json_normalize(french,'albums','artist')
montana = pd.DataFrame([french])
montana = montana.drop(columns=['albums','genres'])
montana = montana.merge(fm,left_on='artist',right_on='artist',how='outer')
montana = montana.rename(columns={0:'albums'})

main15 = main14.append(montana)
main15.head()

,artist,followers,popularity,spotify_artist_id,albums
0,Kanye West,7259123,90,5K4W6rqBFWDnAN6FQUkS6x,Only One
1,Kanye West,7259123,90,5K4W6rqBFWDnAN6FQUkS6x,The College Dropout
2,Kanye West,7259123,90,5K4W6rqBFWDnAN6FQUkS6x,The College Dropout (Edited)
3,Kanye West,7259123,90,5K4W6rqBFWDnAN6FQUkS6x,Yeezus
4,Kanye West,7259123,90,5K4W6rqBFWDnAN6FQUkS6x,Graduation

In [36]:
with open('hov.pkl', 'rb') as handle:
    hov = pickle.load(handle)
hov

{'artist': 'JAY Z',
 'spotify_artist_id': '3nFkdlSjzX9mRTtwJOzDYB',
 'popularity': 83,
 'followers': '3968439',
 'genres': ['bulgarian hip hop',
  'east coast hip hop',
  'gangster rap',
  'hip hop',
  'pop rap',
  'rap',
  'southern hip hop'],
 'albums': {'All The Way Up (Remix) (feat. French Montana & Infared) - Single',
  'Biking',
  'Clique',
  'Collision Course',
  'Collision Course (Deluxe Version)',
  'Dirt Off Your Shoulder/Lying From You: MTV Ultimate Mash-Ups Presents Collision Course',
  'EPIC AF',
  "Frontin' On Debra (DJ Reset Mash Up)",
  'Grateful',
  'Hip Hop Workout',
  'H•A•M',
  'Numb / Encore: MTV Ultimate Mash-Ups Presents Collision Course',
  'Numb/Encore: MTV Ultimate Mash-Ups Presents Collision Course',
  'Sound of Hip Hop',
  'Top Off'}}

In [37]:
jay = json_normalize(hov,'albums','artist')
jigga = pd.DataFrame([hov])
jigga = jigga.drop(columns=['albums','genres'])
jigga = jigga.merge(jay,left_on='artist',right_on='artist',how='outer')
jigga = jigga.rename(columns={0:'albums'})

main16 = main15.append(jigga)
main16.head()

,artist,followers,popularity,spotify_artist_id,albums
0,Kanye West,7259123,90,5K4W6rqBFWDnAN6FQUkS6x,Only One
1,Kanye West,7259123,90,5K4W6rqBFWDnAN6FQUkS6x,The College Dropout
2,Kanye West,7259123,90,5K4W6rqBFWDnAN6FQUkS6x,The College Dropout (Edited)
3,Kanye West,7259123,90,5K4W6rqBFWDnAN6FQUkS6x,Yeezus
4,Kanye West,7259123,90,5K4W6rqBFWDnAN6FQUkS6x,Graduation

In [38]:
with open('chance.pkl', 'rb') as handle:
    chance = pickle.load(handle)
chance

{'artist': 'Chance The Rapper',
 'spotify_artist_id': '1anyVhU62p31KFi8MEzkbf',
 'popularity': 83,
 'followers': '3018278',
 'genres': ['hip hop', 'pop', 'pop rap', 'rap'],
 'albums': {'2010s Hits',
  'Angels (feat. Saba)',
  'CARE FOR ME',
  'Coloring Book',
  'HEAVN',
  'Heartbreak',
  'Hip Hop Alternative',
  'Hip Hop Love Songs',
  'Humble Beast Deluxe',
  'Invasion of Privacy',
  'LSD (feat. Chance The Rapper) [RP Boo Remix]',
  'Like Butter',
  'Love Scars',
  "NOW That's What I Call Music, Vol. 63",
  "New Year's Eve 2017/18",
  'Somewhere in Paradise (feat. Jeremih & R. Kelly)',
  'The Landing'}}

In [39]:
the = json_normalize(chance,'albums','artist')
rapper = pd.DataFrame([chance])
rapper = rapper.drop(columns=['albums','genres'])
rapper = rapper.merge(the,left_on='artist',right_on='artist',how='outer')
rapper = rapper.rename(columns={0:'albums'})

main17 = main16.append(rapper)
main17.head()

,artist,followers,popularity,spotify_artist_id,albums
0,Kanye West,7259123,90,5K4W6rqBFWDnAN6FQUkS6x,Only One
1,Kanye West,7259123,90,5K4W6rqBFWDnAN6FQUkS6x,The College Dropout
2,Kanye West,7259123,90,5K4W6rqBFWDnAN6FQUkS6x,The College Dropout (Edited)
3,Kanye West,7259123,90,5K4W6rqBFWDnAN6FQUkS6x,Yeezus
4,Kanye West,7259123,90,5K4W6rqBFWDnAN6FQUkS6x,Graduation

In [40]:
with open('gucci.pkl', 'rb') as handle:
    gucci = pickle.load(handle)
gucci

{'artist': 'Gucci Mane',
 'spotify_artist_id': '13y7CgLHjMVRMDqxdx0Xdo',
 'popularity': 88,
 'followers': '1888404',
 'genres': ['dirty south rap',
  'hip hop',
  'pop',
  'pop rap',
  'rap',
  'southern hip hop',
  'trap music'],
 'albums': {'ATL Dons',
  'Birds of a Feather 2',
  'Brick Factory',
  'Brick Factory 2',
  'Droptopwop',
  'East Atlanta Santa 2',
  "El Chapo's Home",
  'El Gato: The Human Glacier',
  'Everybody Looking',
  'Greatest Mixtape Hits',
  'Gucci Vs. C-Note, 2',
  'Meal Ticket',
  'Mr. Davis',
  'TRU COLORS',
  'The Return of East Atlanta Santa',
  'WOPTOBER'}}

In [41]:
brrr = json_normalize(gucci,'albums','artist')
guwop = pd.DataFrame([gucci])
guwop = guwop.drop(columns=['albums','genres'])
guwop = guwop.merge(brrr,left_on='artist',right_on='artist',how='outer')
guwop = guwop.rename(columns={0:'albums'})

main18 = main17.append(guwop)
main18.head()

,artist,followers,popularity,spotify_artist_id,albums
0,Kanye West,7259123,90,5K4W6rqBFWDnAN6FQUkS6x,Only One
1,Kanye West,7259123,90,5K4W6rqBFWDnAN6FQUkS6x,The College Dropout
2,Kanye West,7259123,90,5K4W6rqBFWDnAN6FQUkS6x,The College Dropout (Edited)
3,Kanye West,7259123,90,5K4W6rqBFWDnAN6FQUkS6x,Yeezus
4,Kanye West,7259123,90,5K4W6rqBFWDnAN6FQUkS6x,Graduation

In [42]:
with open('bino.pkl', 'rb') as handle:
    bino = pickle.load(handle)
bino

{'artist': 'Childish Gambino',
 'spotify_artist_id': '73sIBHcqh3Z3NyqHKZ7FOL',
 'popularity': 80,
 'followers': '2852851',
 'genres': ['hip hop', 'pop rap', 'rap'],
 'albums': {'"Awaken, My Love!"',
  '2018 Award Nominees',
  '3005 (Friction Remix)',
  'Because The Internet',
  'Best Of 2017',
  'Best Of 2017 Pop',
  'Bonfire',
  'California Vibes',
  'Camp',
  'Crowd Pleasers (Vol. II)',
  'EP (2011 Re-Release)',
  'Heartbeat (Remix Bundle)',
  'Kauai',
  'Like Butter',
  'Rainy Day R&B',
  'This Is America',
  'What Kind Of Love'}}

In [43]:
donald = json_normalize(bino,'albums','artist')
childish = pd.DataFrame([bino])
childish = childish.drop(columns=['albums','genres'])
childish = childish.merge(donald,left_on='artist',right_on='artist',how='outer')
childish = childish.rename(columns={0:'albums'})

main19 = main18.append(childish)
main19.head()

,artist,followers,popularity,spotify_artist_id,albums
0,Kanye West,7259123,90,5K4W6rqBFWDnAN6FQUkS6x,Only One
1,Kanye West,7259123,90,5K4W6rqBFWDnAN6FQUkS6x,The College Dropout
2,Kanye West,7259123,90,5K4W6rqBFWDnAN6FQUkS6x,The College Dropout (Edited)
3,Kanye West,7259123,90,5K4W6rqBFWDnAN6FQUkS6x,Yeezus
4,Kanye West,7259123,90,5K4W6rqBFWDnAN6FQUkS6x,Graduation

In [44]:
with open('nav.pkl', 'rb') as handle:
    nav = pickle.load(handle)
nav

{'artist': 'NAV',
 'spotify_artist_id': '7rkW85dBwwrJtlHRDkJDAC',
 'popularity': 82,
 'followers': '663956',
 'genres': ['canadian hip hop', 'pop', 'rap', 'trap music'],
 'albums': {'88GLAM RELOADED',
  '88glam',
  'Drip Season 3',
  'Freshman List',
  "MEMORIES DON'T DIE",
  'Maintain',
  'NAV',
  'Perfect Timing',
  'Phone (feat. NAV)',
  'Some Way',
  'Still Striving',
  'Wanted You (feat. Lil Uzi Vert)'}}

In [45]:
indian = json_normalize(nav,'albums','artist')
naveen = pd.DataFrame([nav])
naveen = naveen.drop(columns=['albums','genres'])
naveen = naveen.merge(indian,left_on='artist',right_on='artist',how='outer')
naveen = naveen.rename(columns={0:'albums'})

main20 = main19.append(naveen)
main20.head()

,artist,followers,popularity,spotify_artist_id,albums
0,Kanye West,7259123,90,5K4W6rqBFWDnAN6FQUkS6x,Only One
1,Kanye West,7259123,90,5K4W6rqBFWDnAN6FQUkS6x,The College Dropout
2,Kanye West,7259123,90,5K4W6rqBFWDnAN6FQUkS6x,The College Dropout (Edited)
3,Kanye West,7259123,90,5K4W6rqBFWDnAN6FQUkS6x,Yeezus
4,Kanye West,7259123,90,5K4W6rqBFWDnAN6FQUkS6x,Graduation

In [46]:
with open('young_thug.pkl', 'rb') as handle:
    thugger = pickle.load(handle)
thugger

{'artist': 'Young Thug',
 'spotify_artist_id': '50co4Is1HCEo8bhOyUWKpn',
 'popularity': 88,
 'followers': '2739574',
 'genres': ['dwn trap',
  'gangster rap',
  'hip hop',
  'pop',
  'pop rap',
  'rap',
  'southern hip hop',
  'trap music'],
 'albums': {'1017 Thug',
  'Barter 6',
  'Beautiful Thugger Girls',
  'Been Thru a Lot',
  'Brick Sqaud',
  'Gang Up (with Young Thug, 2 Chainz & Wiz Khalifa feat. PnB Rock)',
  'Gangster Shit',
  'Hear No Evil',
  'Homie (feat. Meek Mill)',
  'I Came from Nothing 2',
  "I'm Up",
  'JEFFERY',
  'Liger',
  'On Me',
  'Ride For Me (with Young Thug, feat. 24hrs)',
  'SUPER SLIMEY',
  'Slime Season 3',
  'Young Martha',
  'Young Thugger Mane La Flare',
  'pick up the phone'}}

In [47]:
young = json_normalize(thugger,'albums','artist')
thug = pd.DataFrame([thugger])
thug = thug.drop(columns=['albums','genres'])
thug = thug.merge(young,left_on='artist',right_on='artist',how='outer')
thug = thug.rename(columns={0:'albums'})

main21 = main20.append(thug)
main21.head()

,artist,followers,popularity,spotify_artist_id,albums
0,Kanye West,7259123,90,5K4W6rqBFWDnAN6FQUkS6x,Only One
1,Kanye West,7259123,90,5K4W6rqBFWDnAN6FQUkS6x,The College Dropout
2,Kanye West,7259123,90,5K4W6rqBFWDnAN6FQUkS6x,The College Dropout (Edited)
3,Kanye West,7259123,90,5K4W6rqBFWDnAN6FQUkS6x,Yeezus
4,Kanye West,7259123,90,5K4W6rqBFWDnAN6FQUkS6x,Graduation

In [48]:
with open('kodak_black.pkl', 'rb') as handle:
    kodak = pickle.load(handle)
kodak

{'artist': 'Kodak Black',
 'spotify_artist_id': '46SHBwWsqBkxI7EeeBEQG7',
 'popularity': 85,
 'followers': '2913960',
 'genres': ['pop', 'rap', 'southern hip hop', 'trap music'],
 'albums': {'Bodak Yellow (feat. Kodak Black)',
  'First Day Out',
  'Halloween',
  'Heart Break Kodak (HBK)',
  'Heart of the Projects',
  'Institution',
  'Lil Big Pac',
  'My Dawg',
  'Painting Pictures',
  'Project Baby',
  'Project Baby 2',
  'Project Baby 2: All Grown Up (Deluxe)',
  'Real Hitta (feat. Kodak Black)',
  'iSpy (feat. Kodak Black)'}}

In [49]:
black = json_normalize(kodak,'albums','artist')
kodak_black = pd.DataFrame([kodak])
kodak_black = kodak_black.drop(columns=['albums','genres'])
kodak_black = kodak_black.merge(black,left_on='artist',right_on='artist',how='outer')
kodak_black = kodak_black.rename(columns={0:'albums'})

main22 = main21.append(kodak_black)
main22.head()

,artist,followers,popularity,spotify_artist_id,albums
0,Kanye West,7259123,90,5K4W6rqBFWDnAN6FQUkS6x,Only One
1,Kanye West,7259123,90,5K4W6rqBFWDnAN6FQUkS6x,The College Dropout
2,Kanye West,7259123,90,5K4W6rqBFWDnAN6FQUkS6x,The College Dropout (Edited)
3,Kanye West,7259123,90,5K4W6rqBFWDnAN6FQUkS6x,Yeezus
4,Kanye West,7259123,90,5K4W6rqBFWDnAN6FQUkS6x,Graduation

In [50]:
with open('6lack.pkl', 'rb') as handle:
    black_6 = pickle.load(handle)
black_6

{'artist': '6LACK',
 'spotify_artist_id': '4IVAbR2w4JJNJDDRFP3E83',
 'popularity': 81,
 'followers': '819648',
 'genres': ['indie r&b', 'pop', 'r&b', 'rap', 'trap music'],
 'albums': {'BLUE',
  'Bless Me - Single',
  'Cutting Ties',
  'FREE 6LACK',
  'First Fuck',
  'Grab The Wheel',
  'Hip Hop Hit List (Vol. 3)',
  'Hip Hop Love Songs',
  'Loyal - Single',
  'OTW',
  'R&B Alternative',
  'Spar (feat. 6LACK & Kodak Black)',
  'That Far',
  'WOO$AH'}}

In [51]:
valdez = json_normalize(black_6,'albums','artist')
ricardo = pd.DataFrame([black_6])
ricardo = ricardo.drop(columns=['albums','genres'])
ricardo = ricardo.merge(valdez,left_on='artist',right_on='artist',how='outer')
ricardo = ricardo.rename(columns={0:'albums'})

main23 = main22.append(ricardo)
main23.head()

,artist,followers,popularity,spotify_artist_id,albums
0,Kanye West,7259123,90,5K4W6rqBFWDnAN6FQUkS6x,Only One
1,Kanye West,7259123,90,5K4W6rqBFWDnAN6FQUkS6x,The College Dropout
2,Kanye West,7259123,90,5K4W6rqBFWDnAN6FQUkS6x,The College Dropout (Edited)
3,Kanye West,7259123,90,5K4W6rqBFWDnAN6FQUkS6x,Yeezus
4,Kanye West,7259123,90,5K4W6rqBFWDnAN6FQUkS6x,Graduation

In [52]:
with open('flatbush.pkl', 'rb') as handle:
    flatbush = pickle.load(handle)
flatbush

{'artist': 'Flatbush Zombies',
 'spotify_artist_id': '1dqGS5sT6PE2wEvP1gROZC',
 'popularity': 75,
 'followers': '453888',
 'genres': ['hip hop', 'rap', 'trap music', 'underground hip hop'],
 'albums': {'12',
  '3001: A Laced Odyssey',
  'All Trap Music 2',
  'Aries (feat. Deadcuts)',
  'Aston 3:16',
  'Duck Down Presents: Too High To Die',
  'Extended Play',
  'Feel It Still (Flatbush Zombies Remix)',
  'Feel It Still (The Remixes)',
  'Good Knight (feat. Joey Bada$$, Flatbush Zombies & Dizzy Wright)',
  'Headstone',
  'Howie Made Me Do It 3',
  'Lava (feat. Zombie Juice)',
  'Sidewalk Exec',
  'U&I (feat. Dia)',
  'VDon Presents: Lab Work, Vol. 1',
  'Vacation (feat. Joey Bada$$)',
  'Vacation In Hell'}}

In [53]:
juice = json_normalize(flatbush,'albums','artist')
zoombies = pd.DataFrame([flatbush])
zoombies = zoombies.drop(columns=['albums','genres'])
zoombies = zoombies.merge(juice,left_on='artist',right_on='artist',how='outer')
zoombies = zoombies.rename(columns={0:'albums'})

main24 = main23.append(zoombies)
main24.head()

,artist,followers,popularity,spotify_artist_id,albums
0,Kanye West,7259123,90,5K4W6rqBFWDnAN6FQUkS6x,Only One
1,Kanye West,7259123,90,5K4W6rqBFWDnAN6FQUkS6x,The College Dropout
2,Kanye West,7259123,90,5K4W6rqBFWDnAN6FQUkS6x,The College Dropout (Edited)
3,Kanye West,7259123,90,5K4W6rqBFWDnAN6FQUkS6x,Yeezus
4,Kanye West,7259123,90,5K4W6rqBFWDnAN6FQUkS6x,Graduation

In [54]:
with open('blocboy.pkl', 'rb') as handle:
    blocboy = pickle.load(handle)
blocboy

{'artist': 'BlocBoy JB',
 'spotify_artist_id': '4TEJudQY2pXxVHPE3gD2EU',
 'popularity': 84,
 'followers': '120339',
 'genres': ['rap', 'southern hip hop', 'trap music'],
 'albums': {'2 Heartless',
  'Bad Company',
  'Hard (feat. Tay-K and BlocBoy JB)',
  'Look Alive (feat. Drake)',
  'Nun Of Dat (feat. Lil Pump)',
  'Produced by Blocboy',
  'Rover',
  'Rover 2.0 (feat. 21 Savage)',
  'Simi',
  'The Purple M&M',
  'Three',
  'Who Am I 3',
  'Woah (feat. Drake & BlocBoy JB)',
  'Young & Respected'}}

In [55]:
jb = json_normalize(blocboy,'albums','artist')
blocboy_jb = pd.DataFrame([blocboy])
blocboy_jb = blocboy_jb.drop(columns=['albums','genres'])
blocboy_jb = blocboy_jb.merge(jb,left_on='artist',right_on='artist',how='outer')
blocboy_jb = blocboy_jb.rename(columns={0:'albums'})

main25 = main24.append(blocboy_jb)
main25.head()

,artist,followers,popularity,spotify_artist_id,albums
0,Kanye West,7259123,90,5K4W6rqBFWDnAN6FQUkS6x,Only One
1,Kanye West,7259123,90,5K4W6rqBFWDnAN6FQUkS6x,The College Dropout
2,Kanye West,7259123,90,5K4W6rqBFWDnAN6FQUkS6x,The College Dropout (Edited)
3,Kanye West,7259123,90,5K4W6rqBFWDnAN6FQUkS6x,Yeezus
4,Kanye West,7259123,90,5K4W6rqBFWDnAN6FQUkS6x,Graduation

In [56]:
with open('uzi.pkl', 'rb') as handle:
    uzi = pickle.load(handle)
uzi

{'artist': 'Lil Uzi Vert',
 'spotify_artist_id': '4O15NlyKLIASxsJ0PrXPfz',
 'popularity': 88,
 'followers': '3812819',
 'genres': ['pop', 'rap', 'trap music'],
 'albums': {'Count Dem Rolls (feat. Uzi Gang)',
  'Diver$e',
  'Go Off',
  'Hear No Evil',
  'LFUTP (feat. Rizzoo Rizzoo & Lil Uzi Vert)',
  'Lil Uzi Vert Vs. The World',
  'Luv Is Rage',
  'Luv Is Rage 2',
  'Luv Is Rage 2 (Deluxe)',
  'Sauce It Up',
  'Smoke My Dope (with Steve Aoki & Lil Uzi Vert) (From Bright: The Album)',
  'The Perfect LUV Tape',
  'The Way Life Goes (feat. Nicki Minaj & Oh Wonder) [Remix]',
  'Watch (feat. Lil Uzi Vert & Kanye West)',
  'We Rollin (feat. Lil Uzi Vert & Rome Fortune)',
  'Who Run It (Remix)',
  'Zambamafoo'}}

In [57]:
vert = json_normalize(uzi,'albums','artist')
uzi_vert = pd.DataFrame([uzi])
uzi_vert = uzi_vert.drop(columns=['albums','genres'])
uzi_vert = uzi_vert.merge(vert,left_on='artist',right_on='artist',how='outer')
uzi_vert = uzi_vert.rename(columns={0:'albums'})

main26 = main25.append(uzi_vert)
main26.head()

,artist,followers,popularity,spotify_artist_id,albums
0,Kanye West,7259123,90,5K4W6rqBFWDnAN6FQUkS6x,Only One
1,Kanye West,7259123,90,5K4W6rqBFWDnAN6FQUkS6x,The College Dropout
2,Kanye West,7259123,90,5K4W6rqBFWDnAN6FQUkS6x,The College Dropout (Edited)
3,Kanye West,7259123,90,5K4W6rqBFWDnAN6FQUkS6x,Yeezus
4,Kanye West,7259123,90,5K4W6rqBFWDnAN6FQUkS6x,Graduation

In [58]:
with open('yachty.pkl', 'rb') as handle:
    yachty = pickle.load(handle)
yachty

{'artist': 'Lil Yachty',
 'spotify_artist_id': '6icQOAFXDZKsumw3YXyusw',
 'popularity': 87,
 'followers': '2907549',
 'genres': ['pop', 'rap', 'southern hip hop', 'trap music'],
 'albums': {'2 Vaults (feat. Lil Yachty)',
  'Boat Skirrt',
  'Bring It Back',
  'Gucci Flip Flops (feat. Lil Yachty)',
  'Holiday',
  'Ice Tray',
  'Interlude',
  'Lil Boat',
  'Lil Boat 2',
  "Movin' Up",
  'On Me',
  'Revenge',
  'Solitaire (feat. Migos & Lil Yachty)',
  'Summer Songs 2',
  'Teenage Emotions',
  'With My Team (Remix)',
  'Worry No More',
  'X Men'}}

In [59]:
miles = json_normalize(yachty,'albums','artist')
boat = pd.DataFrame([yachty])
boat = boat.drop(columns=['albums','genres'])
boat = boat.merge(miles,left_on='artist',right_on='artist',how='outer')
boat = boat.rename(columns={0:'albums'})

main27 = main26.append(boat)
main27.head()

,artist,followers,popularity,spotify_artist_id,albums
0,Kanye West,7259123,90,5K4W6rqBFWDnAN6FQUkS6x,Only One
1,Kanye West,7259123,90,5K4W6rqBFWDnAN6FQUkS6x,The College Dropout
2,Kanye West,7259123,90,5K4W6rqBFWDnAN6FQUkS6x,The College Dropout (Edited)
3,Kanye West,7259123,90,5K4W6rqBFWDnAN6FQUkS6x,Yeezus
4,Kanye West,7259123,90,5K4W6rqBFWDnAN6FQUkS6x,Graduation

In [60]:
with open('jay_rock.pkl', 'rb') as handle:
    jay_rock = pickle.load(handle)
jay_rock

{'artist': 'Jay Rock',
 'spotify_artist_id': '28ExwzUQsvgJooOI0X1mr3',
 'popularity': 78,
 'followers': '256434',
 'genres': ['dirty south rap',
  'gangster rap',
  'hip hop',
  'pop rap',
  'rap',
  'southern hip hop',
  'trap music',
  'underground hip hop'],
 'albums': {'1 Up Top Ahk',
  '90059',
  'Black Panther The Album Music From And Inspired By',
  'Do You Know',
  'Follow Me Home',
  'From Hood Tales to the Cover of XXL',
  'Gumbo',
  "King's Dead (with Kendrick Lamar, Future & James Blake)",
  'Momma We Made It',
  'Money Trees Deuce',
  'Nobody Knows (feat. Jay Rock & DCMBR)',
  'Pay for It (feat. Kendrick Lamar & Chantal)',
  'Spiritual Conversations - EP',
  'The Big Brother',
  'The Hookah Lounge, Vol. 1'}}

In [61]:
johnny = json_normalize(jay_rock,'albums','artist')
reed = pd.DataFrame([jay_rock])
reed = reed.drop(columns=['albums','genres'])
reed = reed.merge(johnny,left_on='artist',right_on='artist',how='outer')
reed = reed.rename(columns={0:'albums'})

main28 = main27.append(reed)
main28.head()

,artist,followers,popularity,spotify_artist_id,albums
0,Kanye West,7259123,90,5K4W6rqBFWDnAN6FQUkS6x,Only One
1,Kanye West,7259123,90,5K4W6rqBFWDnAN6FQUkS6x,The College Dropout
2,Kanye West,7259123,90,5K4W6rqBFWDnAN6FQUkS6x,The College Dropout (Edited)
3,Kanye West,7259123,90,5K4W6rqBFWDnAN6FQUkS6x,Yeezus
4,Kanye West,7259123,90,5K4W6rqBFWDnAN6FQUkS6x,Graduation

In [62]:
with open('schoolboy.pkl', 'rb') as handle:
    sbq = pickle.load(handle)
sbq

{'artist': 'ScHoolboy Q',
 'spotify_artist_id': '5IcR3N7QB1j6KBL8eImZ8m',
 'popularity': 80,
 'followers': '1735236',
 'genres': ['gangster rap',
  'hip hop',
  'pop',
  'pop rap',
  'rap',
  'southern hip hop',
  'trap music',
  'underground hip hop'],
 'albums': {'Blank Face LP',
  'Break The Bank',
  'Collard Greens',
  'Groovy Tony',
  'Habits & Contradictions',
  'Hands On The Wheel',
  'Man Of The Year',
  'Oxymoron',
  'Oxymoron (Deluxe)',
  'Setbacks',
  'THat Part (Black Hippy Remix)',
  'Yay Yay'}}

In [63]:
school = json_normalize(sbq,'albums','artist')
boy = pd.DataFrame([sbq])
boy = boy.drop(columns=['albums','genres'])
boy = boy.merge(school,left_on='artist',right_on='artist',how='outer')
boy = boy.rename(columns={0:'albums'})

main29 = main28.append(boy)
main29.head()

,artist,followers,popularity,spotify_artist_id,albums
0,Kanye West,7259123,90,5K4W6rqBFWDnAN6FQUkS6x,Only One
1,Kanye West,7259123,90,5K4W6rqBFWDnAN6FQUkS6x,The College Dropout
2,Kanye West,7259123,90,5K4W6rqBFWDnAN6FQUkS6x,The College Dropout (Edited)
3,Kanye West,7259123,90,5K4W6rqBFWDnAN6FQUkS6x,Yeezus
4,Kanye West,7259123,90,5K4W6rqBFWDnAN6FQUkS6x,Graduation

In [64]:
with open('j_badass.pkl', 'rb') as handle:
    badass = pickle.load(handle)
badass

{'artist': 'Joey Bada$$',
 'spotify_artist_id': '2P5sC9cVZDToPxyomzF1UH',
 'popularity': 77,
 'followers': '945722',
 'genres': ['hip hop', 'pop rap', 'rap', 'trap music', 'underground hip hop'],
 'albums': {'500 Benz',
  'ALL-AMERIKKKAN BADA$$',
  'B4.Da.$$',
  "Brooklyn's Own",
  'Front & Center',
  'Hood',
  'Land of the Free',
  'Lose Control',
  'Love Is Only a Feeling',
  'PURPLE TUESDAY (feat. Joey Bada$$ & Jesse Boykins III)',
  'Pull Up (feat. Joey Bada$$ & A$AP Ferg)',
  'ROCKABYE BABY',
  'Ready',
  'Spotify Sessions',
  'Summer Knights',
  'The Mood',
  'Victory',
  'What’s The Score (Remixes)'}}

In [65]:
joey = json_normalize(badass,'albums','artist')
pro_era = pd.DataFrame([badass])
pro_era = pro_era.drop(columns=['albums','genres'])
pro_era = pro_era.merge(joey,left_on='artist',right_on='artist',how='outer')
pro_era = pro_era.rename(columns={0:'albums'})

main30 = main29.append(pro_era)
main30.head()

,artist,followers,popularity,spotify_artist_id,albums
0,Kanye West,7259123,90,5K4W6rqBFWDnAN6FQUkS6x,Only One
1,Kanye West,7259123,90,5K4W6rqBFWDnAN6FQUkS6x,The College Dropout
2,Kanye West,7259123,90,5K4W6rqBFWDnAN6FQUkS6x,The College Dropout (Edited)
3,Kanye West,7259123,90,5K4W6rqBFWDnAN6FQUkS6x,Yeezus
4,Kanye West,7259123,90,5K4W6rqBFWDnAN6FQUkS6x,Graduation

In [66]:
with open('noname.pkl', 'rb') as handle:
    noname = pickle.load(handle)
noname

{'artist': 'Noname',
 'spotify_artist_id': '1EpyA68dKpjf7jXmQL88Hy',
 'popularity': 63,
 'followers': '157967',
 'genres': ['escape room', 'indie r&b'],
 'albums': {'1 Time 4 the Road',
  'A Humble Masterpiece',
  'Apollo 13',
  'Bucket List Project',
  'Church / Liquor Store',
  'Coloring Book',
  'HEAVN',
  'I Love You More (feat. Noname)',
  'Kale',
  'Late Knight Special',
  'Private Stock',
  'Realer Than Most',
  'Smokes',
  'Telefone',
  'The Healing Component',
  'The Water (S)',
  'Twosyllable Records Chicago Cassette Compilation, Vol. 2'}}

In [67]:
gypsy = json_normalize(noname,'albums','artist')
fatimah = pd.DataFrame([noname])
fatimah = fatimah.drop(columns=['albums','genres'])
fatimah = fatimah.merge(gypsy,left_on='artist',right_on='artist',how='outer')
fatimah = fatimah.rename(columns={0:'albums'})

main31 = main30.append(fatimah)
main31.head()

,artist,followers,popularity,spotify_artist_id,albums
0,Kanye West,7259123,90,5K4W6rqBFWDnAN6FQUkS6x,Only One
1,Kanye West,7259123,90,5K4W6rqBFWDnAN6FQUkS6x,The College Dropout
2,Kanye West,7259123,90,5K4W6rqBFWDnAN6FQUkS6x,The College Dropout (Edited)
3,Kanye West,7259123,90,5K4W6rqBFWDnAN6FQUkS6x,Yeezus
4,Kanye West,7259123,90,5K4W6rqBFWDnAN6FQUkS6x,Graduation

In [68]:
with open('cardi.pkl', 'rb') as handle:
    cardi = pickle.load(handle)
cardi

{'artist': 'Cardi B',
 'spotify_artist_id': '4kYSro6naA4h99UJvo89HB',
 'popularity': 93,
 'followers': '2257130',
 'genres': ['pop'],
 'albums': {'Ahora Dice (Real Hasta La Muerte Remix)',
  'Bodak Yellow (feat. Kodak Black)',
  'Bodak Yellow (feat. Messiah) [Latin Trap Remix]',
  'Bronx Season',
  'Cheap Ass Weave - Single',
  'Festival Fire',
  'Finesse (Remix) [feat. Cardi B]',
  'Finesse (Remixes) [feat. Cardi B]',
  'Gangsta Bitch Music Vol 1',
  'Gangsta Bitch Music Vol. 2',
  'Invasion of Privacy',
  'Spanglish Favorites',
  'Stripper Hoe - Single',
  'Um Yea',
  'What a Girl Likes'}}

In [69]:
cardi_b = json_normalize(cardi,'albums','artist')
bacardi = pd.DataFrame([cardi])
bacardi = bacardi.drop(columns=['albums','genres'])
bacardi = bacardi.merge(cardi_b,left_on='artist',right_on='artist',how='outer')
bacardi = bacardi.rename(columns={0:'albums'})

main32 = main31.append(bacardi)
main32.head()

,artist,followers,popularity,spotify_artist_id,albums
0,Kanye West,7259123,90,5K4W6rqBFWDnAN6FQUkS6x,Only One
1,Kanye West,7259123,90,5K4W6rqBFWDnAN6FQUkS6x,The College Dropout
2,Kanye West,7259123,90,5K4W6rqBFWDnAN6FQUkS6x,The College Dropout (Edited)
3,Kanye West,7259123,90,5K4W6rqBFWDnAN6FQUkS6x,Yeezus
4,Kanye West,7259123,90,5K4W6rqBFWDnAN6FQUkS6x,Graduation

In [70]:
with open('nicki_minaj.pkl', 'rb') as handle:
    nicki = pickle.load(handle)
nicki

{'artist': 'Nicki Minaj',
 'spotify_artist_id': '0hCNtLu0JehylgoiP8L4Gh',
 'popularity': 91,
 'followers': '10431818',
 'genres': ['dance pop', 'hip pop', 'pop', 'pop rap', 'post-teen pop'],
 'albums': {'Barbie Tingz',
  'Pink Friday',
  'Pink Friday (Deluxe Edition)',
  'Pink Friday (Deluxe)',
  'Pink Friday ... Roman Reloaded',
  'Pink Friday ... Roman Reloaded (Deluxe Edition)',
  'Pink Friday ... Roman Reloaded (Deluxe)',
  'Pink Friday: Roman Reloaded The Re-Up',
  'The Pinkprint',
  'The Pinkprint (Deluxe Edition)',
  'The Pinkprint (Deluxe)'}}

In [71]:
minaj = json_normalize(nicki,'albums','artist')
barbie = pd.DataFrame([nicki])
barbie = barbie.drop(columns=['albums','genres'])
barbie = barbie.merge(minaj,left_on='artist',right_on='artist',how='outer')
barbie = barbie.rename(columns={0:'albums'})

main33 = main32.append(barbie)
main33.head()

,artist,followers,popularity,spotify_artist_id,albums
0,Kanye West,7259123,90,5K4W6rqBFWDnAN6FQUkS6x,Only One
1,Kanye West,7259123,90,5K4W6rqBFWDnAN6FQUkS6x,The College Dropout
2,Kanye West,7259123,90,5K4W6rqBFWDnAN6FQUkS6x,The College Dropout (Edited)
3,Kanye West,7259123,90,5K4W6rqBFWDnAN6FQUkS6x,Yeezus
4,Kanye West,7259123,90,5K4W6rqBFWDnAN6FQUkS6x,Graduation

In [72]:
with open('awkwafina.pkl', 'rb') as handle:
    awkwafina = pickle.load(handle)
awkwafina

{'artist': 'Awkwafina',
 'spotify_artist_id': '3SmyWs7ou3udD8gtM0Z6Vx',
 'popularity': 44,
 'followers': '21321',
 'genres': ['escape room', 'hip pop'],
 'albums': {'Awkwafina',
  'Mountain Moves',
  'Nyc Bitche$',
  'Queef - Single',
  'The Cookout Chronicles',
  'Yellow Ranger',
  "You Can't Be Serious",
  "Your Dystopic Creation Doesn't Fear You (feat. Awkwafina)"}}

In [73]:
awk = json_normalize(awkwafina,'albums','artist')
wafina = pd.DataFrame([awkwafina])
wafina = wafina.drop(columns=['albums','genres'])
wafina = wafina.merge(awk,left_on='artist',right_on='artist',how='outer')
wafina = wafina.rename(columns={0:'albums'})

main34 = main33.append(wafina)
main34.head()

,artist,followers,popularity,spotify_artist_id,albums
0,Kanye West,7259123,90,5K4W6rqBFWDnAN6FQUkS6x,Only One
1,Kanye West,7259123,90,5K4W6rqBFWDnAN6FQUkS6x,The College Dropout
2,Kanye West,7259123,90,5K4W6rqBFWDnAN6FQUkS6x,The College Dropout (Edited)
3,Kanye West,7259123,90,5K4W6rqBFWDnAN6FQUkS6x,Yeezus
4,Kanye West,7259123,90,5K4W6rqBFWDnAN6FQUkS6x,Graduation

In [74]:
with open('pump.pkl', 'rb') as handle:
    pump = pickle.load(handle)
pump

{'artist': 'Lil Pump',
 'spotify_artist_id': '3wyVrVrFCkukjdVIdirGVY',
 'popularity': 82,
 'followers': '2775648',
 'genres': ['rap'],
 'albums': {'Battered Bruised & Bloody',
  'Boss',
  'Choppa 4',
  'D Rose',
  'Designer',
  'Elementary',
  'Esskeetit',
  'Flex Like Ouu',
  'Lie Detector (feat. Lil Pump)',
  'Lil Pump',
  'Lil Rich Mixtape',
  'Molly',
  'Next (feat. Rich the Kid)',
  'Nun Of Dat (feat. Lil Pump)',
  'Satisfaction',
  'Simi',
  'Walked in Ready',
  'i Shyne'}}

In [75]:
gazzy = json_normalize(pump,'albums','artist')
garcia = pd.DataFrame([pump])
garcia = garcia.drop(columns=['albums','genres'])
garcia = garcia.merge(gazzy,left_on='artist',right_on='artist',how='outer')
garcia = garcia.rename(columns={0:'albums'})

main35 = main34.append(garcia)
main35.head()

,artist,followers,popularity,spotify_artist_id,albums
0,Kanye West,7259123,90,5K4W6rqBFWDnAN6FQUkS6x,Only One
1,Kanye West,7259123,90,5K4W6rqBFWDnAN6FQUkS6x,The College Dropout
2,Kanye West,7259123,90,5K4W6rqBFWDnAN6FQUkS6x,The College Dropout (Edited)
3,Kanye West,7259123,90,5K4W6rqBFWDnAN6FQUkS6x,Yeezus
4,Kanye West,7259123,90,5K4W6rqBFWDnAN6FQUkS6x,Graduation

In [76]:
with open('smokepurpp.pkl', 'rb') as handle:
    smokepurpp = pickle.load(handle)
smokepurpp

{'artist': 'Smokepurpp',
 'spotify_artist_id': '21dooacK2WGBB5amYvKyfM',
 'popularity': 78,
 'followers': '666153',
 'genres': ['canadian hip hop',
  'pop',
  'rap',
  'southern hip hop',
  'trap music',
  'underground hip hop',
  'vapor trap'],
 'albums': {'123 (with Murda Beatz)',
  '25/8',
  '6 Rings',
  'Big Bucks',
  'Bless Yo Trap',
  'Deadstar',
  'Do Not Disturb',
  'Geek A Lot',
  'Glock In My Benz',
  'Houdini',
  'How That Make You Feel',
  'Muddy',
  'Phone (feat. NAV)',
  'Ski Mask',
  "Sneakin' (Instrumental)",
  "That's My Energy +",
  'Up Now Fuck Next',
  'Whoa',
  'Wokhardt'}}

In [77]:
omar = json_normalize(smokepurpp,'albums','artist')
pinerio = pd.DataFrame([smokepurpp])
pinerio = pinerio.drop(columns=['albums','genres'])
pinerio = pinerio.merge(omar,left_on='artist',right_on='artist',how='outer')
pinerio = pinerio.rename(columns={0:'albums'})

main36 = main35.append(pinerio)
main36.head()

,artist,followers,popularity,spotify_artist_id,albums
0,Kanye West,7259123,90,5K4W6rqBFWDnAN6FQUkS6x,Only One
1,Kanye West,7259123,90,5K4W6rqBFWDnAN6FQUkS6x,The College Dropout
2,Kanye West,7259123,90,5K4W6rqBFWDnAN6FQUkS6x,The College Dropout (Edited)
3,Kanye West,7259123,90,5K4W6rqBFWDnAN6FQUkS6x,Yeezus
4,Kanye West,7259123,90,5K4W6rqBFWDnAN6FQUkS6x,Graduation

In [78]:
with open('blac_youngsta.pkl', 'rb') as handle:
    blac_youngsta = pickle.load(handle)
blac_youngsta

{'artist': 'Blac Youngsta',
 'spotify_artist_id': '41klVmDluQZmGGqoidNfbe',
 'popularity': 66,
 'followers': '459292',
 'genres': ['deep trap',
  'dwn trap',
  'pop rap',
  'rap',
  'southern hip hop',
  'trap music'],
 'albums': {'223',
  'Beat It',
  'Birthday',
  "Can't Fake the Real",
  'Cheat On Me (feat. Blac Youngsta)',
  'Double Up',
  'Drummin (feat. OneInThe4Rest & Blac Youngsta)',
  'F*ck Everybody',
  'Hate on Me',
  'Heavy',
  'Hip Hopper',
  'Letter to Yo Gotti',
  'Red Chuck Red Flag (feat. Lotto Savage)',
  "Sky's The Limit",
  'Trapaholic',
  'True Story',
  'Young & Reckless'}}

In [79]:
blac = json_normalize(blac_youngsta,'albums','artist')
youngsta = pd.DataFrame([blac_youngsta])
youngsta = youngsta.drop(columns=['albums','genres'])
youngsta = youngsta.merge(blac,left_on='artist',right_on='artist',how='outer')
youngsta = youngsta.rename(columns={0:'albums'})

main37 = main36.append(youngsta)
main37.head()

,artist,followers,popularity,spotify_artist_id,albums
0,Kanye West,7259123,90,5K4W6rqBFWDnAN6FQUkS6x,Only One
1,Kanye West,7259123,90,5K4W6rqBFWDnAN6FQUkS6x,The College Dropout
2,Kanye West,7259123,90,5K4W6rqBFWDnAN6FQUkS6x,The College Dropout (Edited)
3,Kanye West,7259123,90,5K4W6rqBFWDnAN6FQUkS6x,Yeezus
4,Kanye West,7259123,90,5K4W6rqBFWDnAN6FQUkS6x,Graduation

In [80]:
with open('tyler.pkl', 'rb') as handle:
    tyler = pickle.load(handle)
tyler

{'artist': 'Tyler, The Creator',
 'spotify_artist_id': '4V8LLVI7PbaPR0K2TGSxFF',
 'popularity': 81,
 'followers': '1840774',
 'genres': ['hip hop', 'rap'],
 'albums': {'After The Storm (feat. Tyler, The Creator & Bootsy Collins)',
  'Biking',
  'Boredom',
  'Cherry Bomb',
  'Cozy Tapes: Vol. 1 Friends -',
  'Domo23',
  'Festival Fire',
  'Flower Boy',
  'Goblin',
  'Goblin (Deluxe Edition)',
  "I Ain't Got Time!",
  'Isolation',
  'Like Butter',
  'OKRA',
  'Salute Me Or Shoot Me 4 (Banned From America)',
  'Sandwitches',
  'Who Dat Boy / 911',
  'Wolf',
  'Yonkers'}}

In [81]:
creator = json_normalize(tyler,'albums','artist')
odd_future = pd.DataFrame([tyler])
odd_future = odd_future.drop(columns=['albums','genres'])
odd_future = odd_future.merge(creator,left_on='artist',right_on='artist',how='outer')
odd_future = odd_future.rename(columns={0:'albums'})

main38 = main37.append(odd_future)
main38.head()

,artist,followers,popularity,spotify_artist_id,albums
0,Kanye West,7259123,90,5K4W6rqBFWDnAN6FQUkS6x,Only One
1,Kanye West,7259123,90,5K4W6rqBFWDnAN6FQUkS6x,The College Dropout
2,Kanye West,7259123,90,5K4W6rqBFWDnAN6FQUkS6x,The College Dropout (Edited)
3,Kanye West,7259123,90,5K4W6rqBFWDnAN6FQUkS6x,Yeezus
4,Kanye West,7259123,90,5K4W6rqBFWDnAN6FQUkS6x,Graduation

In [82]:
with open('frank_ocean.pkl', 'rb') as handle:
    frank_ocean = pickle.load(handle)
frank_ocean

{'artist': 'Frank Ocean',
 'spotify_artist_id': '2h93pZq0e7k5yf4dywlkpM',
 'popularity': 83,
 'followers': '3225770',
 'genres': ['hip hop',
  'indie r&b',
  'neo soul',
  'pop',
  'pop rap',
  'r&b',
  'rap'],
 'albums': {'Biking',
  'Biking (Solo)',
  'Blonde',
  'Chanel',
  'Cozy Tapes Vol. 2: Too Cozy',
  'Flower Boy',
  'Funk Wav Bounces Vol.1',
  'Lens',
  'Moon River',
  "NOW That's What I Call Music, Vol. 63",
  "New Year's Eve 2017/18",
  'Novacane',
  'Provider',
  'RAF',
  'Swim Good',
  'Thinkin Bout You',
  'Who Dat Boy / 911',
  'channel ORANGE'}}

In [83]:
frank = json_normalize(frank_ocean,'albums','artist')
ocean = pd.DataFrame([frank_ocean])
ocean = ocean.drop(columns=['albums','genres'])
ocean = ocean.merge(frank,left_on='artist',right_on='artist',how='outer')
ocean = ocean.rename(columns={0:'albums'})

main39 = main38.append(ocean)
main39.head()

,artist,followers,popularity,spotify_artist_id,albums
0,Kanye West,7259123,90,5K4W6rqBFWDnAN6FQUkS6x,Only One
1,Kanye West,7259123,90,5K4W6rqBFWDnAN6FQUkS6x,The College Dropout
2,Kanye West,7259123,90,5K4W6rqBFWDnAN6FQUkS6x,The College Dropout (Edited)
3,Kanye West,7259123,90,5K4W6rqBFWDnAN6FQUkS6x,Yeezus
4,Kanye West,7259123,90,5K4W6rqBFWDnAN6FQUkS6x,Graduation

In [84]:
with open('tyga.pkl', 'rb') as handle:
    tyga = pickle.load(handle)
tyga

{'artist': 'Tyga',
 'spotify_artist_id': '5LHRHt1k9lMyONurDHEdrp',
 'popularity': 79,
 'followers': '2857994',
 'genres': ['dance pop',
  'hip hop',
  'pop',
  'pop rap',
  'rap',
  'southern hip hop',
  'trap music'],
 'albums': {'#BitchImTheShit',
  "B*tch I'm the Sh*t 2",
  "Bitch I'm the Shit 2",
  'Black Thoughts',
  'Black Thoughts Vol. 2',
  'Bugatti Raww',
  'Careless World: Rise Of The Last King',
  'Fan of A Fan The Album (Deluxe Version)',
  'Fuk Wat They Talkin Bout',
  'Hotel California',
  'Hotel California (Deluxe)',
  'Kyoto',
  'Rawwest Alive',
  'The Gold Album: 18th Dynasty',
  'U Cry',
  'Well Done 4'}}

In [85]:
tiger = json_normalize(tyga,'albums','artist')
woods = pd.DataFrame([tyga])
woods = woods.drop(columns=['albums','genres'])
woods = woods.merge(tiger,left_on='artist',right_on='artist',how='outer')
woods = woods.rename(columns={0:'albums'})

main40 = main39.append(woods)
main40.head()

,artist,followers,popularity,spotify_artist_id,albums
0,Kanye West,7259123,90,5K4W6rqBFWDnAN6FQUkS6x,Only One
1,Kanye West,7259123,90,5K4W6rqBFWDnAN6FQUkS6x,The College Dropout
2,Kanye West,7259123,90,5K4W6rqBFWDnAN6FQUkS6x,The College Dropout (Edited)
3,Kanye West,7259123,90,5K4W6rqBFWDnAN6FQUkS6x,Yeezus
4,Kanye West,7259123,90,5K4W6rqBFWDnAN6FQUkS6x,Graduation

In [86]:
with open('wayne.pkl', 'rb') as handle:
    wayne = pickle.load(handle)
wayne

{'artist': 'Lil Wayne',
 'spotify_artist_id': '55Aa2cqylxrFIXC767Z865',
 'popularity': 89,
 'followers': '6041358',
 'genres': ['hip hop', 'pop', 'pop rap', 'rap', 'trap music'],
 'albums': {'I Am Not A Human Being',
  'I Am Not A Human Being II',
  'I Am Not A Human Being II (Deluxe)',
  'Lights Out',
  'Like Father Like Son',
  'Rebirth',
  'Rebirth (Deluxe)',
  'Tear Drop Tune Part 3',
  'Tha Carter II - Chopped & Screwed',
  'Tha Carter III',
  'Tha Carter IV',
  'Tha Carter IV (Deluxe)'}}

In [87]:
lil_wayne = json_normalize(wayne,'albums','artist')
carter = pd.DataFrame([wayne])
carter = carter.drop(columns=['albums','genres'])
carter = carter.merge(lil_wayne,left_on='artist',right_on='artist',how='outer')
carter = carter.rename(columns={0:'albums'})

main41 = main40.append(carter)
main41.head()

,artist,followers,popularity,spotify_artist_id,albums
0,Kanye West,7259123,90,5K4W6rqBFWDnAN6FQUkS6x,Only One
1,Kanye West,7259123,90,5K4W6rqBFWDnAN6FQUkS6x,The College Dropout
2,Kanye West,7259123,90,5K4W6rqBFWDnAN6FQUkS6x,The College Dropout (Edited)
3,Kanye West,7259123,90,5K4W6rqBFWDnAN6FQUkS6x,Yeezus
4,Kanye West,7259123,90,5K4W6rqBFWDnAN6FQUkS6x,Graduation

In [88]:
with open('g-eazy.pkl', 'rb') as handle:
    eazy = pickle.load(handle)
eazy

{'artist': 'G-Eazy',
 'spotify_artist_id': '02kJSzxNuaWGqwubyUba0Z',
 'popularity': 88,
 'followers': '3012083',
 'genres': ['indie pop rap'],
 'albums': {'1942',
  'Love Is Gone',
  'Must Be Nice',
  'No Limit REMIX',
  'Sober',
  'Summer In December',
  'The Beautiful & Damned',
  'The Plan',
  'These Things Happen',
  "When It's Dark Out"}}

In [89]:
g_eazy = json_normalize(eazy,'albums','artist')
white = pd.DataFrame([eazy])
white = white.drop(columns=['albums','genres'])
white = white.merge(g_eazy,left_on='artist',right_on='artist',how='outer')
white = white.rename(columns={0:'albums'})

main42 = main41.append(white)
main42.head()

,artist,followers,popularity,spotify_artist_id,albums
0,Kanye West,7259123,90,5K4W6rqBFWDnAN6FQUkS6x,Only One
1,Kanye West,7259123,90,5K4W6rqBFWDnAN6FQUkS6x,The College Dropout
2,Kanye West,7259123,90,5K4W6rqBFWDnAN6FQUkS6x,The College Dropout (Edited)
3,Kanye West,7259123,90,5K4W6rqBFWDnAN6FQUkS6x,Yeezus
4,Kanye West,7259123,90,5K4W6rqBFWDnAN6FQUkS6x,Graduation

In [90]:
with open('logic.pkl', 'rb') as handle:
    logic = pickle.load(handle)
logic

{'artist': 'Logic',
 'spotify_artist_id': '4xRYI6VqpkE3UwrDrAZL8L',
 'popularity': 89,
 'followers': '2303543',
 'genres': ['pop rap', 'rap'],
 'albums': {'1-800-273-8255',
  '44 More',
  'Bobby Tarantino',
  'Bobby Tarantino II',
  "Broken People (with Logic & Rag'n'Bone Man) [From Bright: The Album]",
  'Everybody',
  'Everyday',
  'The Incredible True Story',
  'Under Pressure',
  'Under Pressure (Deluxe)',
  'Wrist'}}

In [91]:
robert = json_normalize(logic,'albums','artist')
bobby = pd.DataFrame([logic])
bobby = bobby.drop(columns=['albums','genres'])
bobby = bobby.merge(robert,left_on='artist',right_on='artist',how='outer')
bobby = bobby.rename(columns={0:'albums'})

main43 = main42.append(bobby)
main43.head()

,artist,followers,popularity,spotify_artist_id,albums
0,Kanye West,7259123,90,5K4W6rqBFWDnAN6FQUkS6x,Only One
1,Kanye West,7259123,90,5K4W6rqBFWDnAN6FQUkS6x,The College Dropout
2,Kanye West,7259123,90,5K4W6rqBFWDnAN6FQUkS6x,The College Dropout (Edited)
3,Kanye West,7259123,90,5K4W6rqBFWDnAN6FQUkS6x,Yeezus
4,Kanye West,7259123,90,5K4W6rqBFWDnAN6FQUkS6x,Graduation

In [92]:
with open('mac_miller.pkl', 'rb') as handle:
    mac_miller = pickle.load(handle)
mac_miller

{'artist': 'Mac Miller',
 'spotify_artist_id': '4LLpKhyESsyAXpc4laK94U',
 'popularity': 76,
 'followers': '2206356',
 'genres': ['hip hop',
  'pop',
  'pop rap',
  'rap',
  'southern hip hop',
  'trap music'],
 'albums': {'100 Grandkids',
  '100 Grandkids (Short Radio Edit)',
  'Best Day Ever (5th Anniversary Remastered Edition)',
  'Blue Slide Park',
  'Blue Slide Park (Commentary Version)',
  'Blue Slide Park (Edited Version)',
  'Break The Law',
  'Clubhouse',
  'Dang! (feat. Anderson .Paak) [Radio Edit]',
  'GO:OD AM',
  'Live From Space',
  'Lucky Ass Bitch',
  'Macadelic (Remastered Edition)',
  'S.D.S.',
  'The Divine Feminine',
  'Watching Movies',
  'Watching Movies with the Sound Off',
  'Watching Movies with the Sound Off (Deluxe Edition)'}}

In [93]:
miller = json_normalize(mac_miller,'albums','artist')
mac = pd.DataFrame([mac_miller])
mac = mac.drop(columns=['albums','genres'])
mac = mac.merge(miller,left_on='artist',right_on='artist',how='outer')
mac = mac.rename(columns={0:'albums'})

main44 = main43.append(mac)
main44.head()

,artist,followers,popularity,spotify_artist_id,albums
0,Kanye West,7259123,90,5K4W6rqBFWDnAN6FQUkS6x,Only One
1,Kanye West,7259123,90,5K4W6rqBFWDnAN6FQUkS6x,The College Dropout
2,Kanye West,7259123,90,5K4W6rqBFWDnAN6FQUkS6x,The College Dropout (Edited)
3,Kanye West,7259123,90,5K4W6rqBFWDnAN6FQUkS6x,Yeezus
4,Kanye West,7259123,90,5K4W6rqBFWDnAN6FQUkS6x,Graduation

In [94]:
with open('paak.pkl', 'rb') as handle:
    paak = pickle.load(handle)
paak

{'artist': 'Anderson .Paak',
 'spotify_artist_id': '3jK9MiCrA42lLAdMGUZpwa',
 'popularity': 75,
 'followers': '607578',
 'genres': ['escape room', 'hip hop', 'indie r&b', 'la indie', 'rap'],
 'albums': {"'Til It's Over",
  'Am I Wrong (feat. ScHoolboy Q) - Single',
  'Black Panther The Album Music From And Inspired By',
  'Chris Dave And The Drumhedz',
  'Come Down - Single',
  'Link Up & Suede',
  'Malibu',
  'Miss Right',
  'Pacific Rim Uprising (Original Motion Picture Soundtrack)',
  'Put It Down (feat. Anderson .Paak & KRNE)',
  'Room In Here (DJ Jazzy Jeff Remix)',
  'Room In Here (feat. The Game & Sonyae Elise) - Single',
  'The Season / Carry Me - Single',
  'Venice',
  'Yes Lawd!',
  'Yes Lawd! Remixes'}}

In [95]:
a_paak = json_normalize(paak,'albums','artist')
anderson = pd.DataFrame([paak])
anderson = anderson.drop(columns=['albums','genres'])
anderson = anderson.merge(a_paak,left_on='artist',right_on='artist',how='outer')
anderson = anderson.rename(columns={0:'albums'})

main45 = main44.append(anderson)
main45.head()

,artist,followers,popularity,spotify_artist_id,albums
0,Kanye West,7259123,90,5K4W6rqBFWDnAN6FQUkS6x,Only One
1,Kanye West,7259123,90,5K4W6rqBFWDnAN6FQUkS6x,The College Dropout
2,Kanye West,7259123,90,5K4W6rqBFWDnAN6FQUkS6x,The College Dropout (Edited)
3,Kanye West,7259123,90,5K4W6rqBFWDnAN6FQUkS6x,Yeezus
4,Kanye West,7259123,90,5K4W6rqBFWDnAN6FQUkS6x,Graduation

In [96]:
with open('cole.pkl', 'rb') as handle:
    cole = pickle.load(handle)
cole

{'artist': 'J. Cole',
 'spotify_artist_id': '6l3HvQ5sa6mXTsMTB19rO5',
 'popularity': 93,
 'followers': '5074440',
 'genres': ['pop', 'pop rap', 'rap'],
 'albums': {'2014 Forest Hills Drive',
  '4 Your Eyez Only',
  'Born Sinner',
  'Cole World: The Sideline Story',
  'Exclusive Commentary',
  'False Prophets',
  'Forest Hills Drive: Live from Fayetteville, NC',
  'High For Hours',
  'KOD',
  'Miss America',
  'Power Trip',
  'everybody dies'}}

In [97]:
j_cole = json_normalize(cole,'albums','artist')
moe_dee = pd.DataFrame([cole])
moe_dee = moe_dee.drop(columns=['albums','genres'])
moe_dee = moe_dee.merge(j_cole,left_on='artist',right_on='artist',how='outer')
moe_dee = moe_dee.rename(columns={0:'albums'})

main46 = main45.append(moe_dee)
main46.head()

,artist,followers,popularity,spotify_artist_id,albums
0,Kanye West,7259123,90,5K4W6rqBFWDnAN6FQUkS6x,Only One
1,Kanye West,7259123,90,5K4W6rqBFWDnAN6FQUkS6x,The College Dropout
2,Kanye West,7259123,90,5K4W6rqBFWDnAN6FQUkS6x,The College Dropout (Edited)
3,Kanye West,7259123,90,5K4W6rqBFWDnAN6FQUkS6x,Yeezus
4,Kanye West,7259123,90,5K4W6rqBFWDnAN6FQUkS6x,Graduation

In [98]:
with open('dicky.pkl', 'rb') as handle:
    dicky = pickle.load(handle)
dicky

{'artist': 'Lil Dicky',
 'spotify_artist_id': '1tqhsYv8yBBdwANFNzHtcr',
 'popularity': 84,
 'followers': '813129',
 'genres': ['pop rap', 'rap'],
 'albums': {'$ave Dat Money (feat. Fetty Wap & Rich Homie Quan)',
  'All K',
  'Classic Male Pregame',
  'Dirty Work',
  'EPIC AF',
  'Freaky Friday (feat. Chris Brown)',
  'Free Bread At The Outback - Single',
  'Free Bread at the Outback',
  'Hump Days',
  "I'm Brain",
  "Just A Lil' Thick (She Juicy)",
  'Professional Rapper',
  'Really Scared (feat. Azadeh) - Single',
  'Sit Down',
  'The Gumption - Single',
  'Would You Believe That - Single'}}

In [99]:
david = json_normalize(dicky,'albums','artist')
andrew = pd.DataFrame([dicky])
andrew = andrew.drop(columns=['albums','genres'])
andrew = andrew.merge(david,left_on='artist',right_on='artist',how='outer')
andrew = andrew.rename(columns={0:'albums'})

main47 = main46.append(andrew)
main47.head()

,artist,followers,popularity,spotify_artist_id,albums
0,Kanye West,7259123,90,5K4W6rqBFWDnAN6FQUkS6x,Only One
1,Kanye West,7259123,90,5K4W6rqBFWDnAN6FQUkS6x,The College Dropout
2,Kanye West,7259123,90,5K4W6rqBFWDnAN6FQUkS6x,The College Dropout (Edited)
3,Kanye West,7259123,90,5K4W6rqBFWDnAN6FQUkS6x,Yeezus
4,Kanye West,7259123,90,5K4W6rqBFWDnAN6FQUkS6x,Graduation

In [100]:
with open('wiz.pkl', 'rb') as handle:
    wiz = pickle.load(handle)
wiz

{'artist': 'Wiz Khalifa',
 'spotify_artist_id': '137W8MRPWKqSmrBGDBFSop',
 'popularity': 86,
 'followers': '6767452',
 'genres': ['hip hop', 'pop rap', 'rap', 'southern hip hop', 'trap music'],
 'albums': {'Blacc Hollywood',
  'Blacc Hollywood (Deluxe)',
  'Deal Or No Deal',
  'Flight School',
  'Khalifa',
  'Laugh Now, Fly Later',
  'Mac and Devin Go To High School (Music From and Inspired By The Movie)',
  'O.N.I.F.C.',
  'O.N.I.F.C. (Deluxe)',
  'Prince Of The City 2',
  'Real Rich (feat. Gucci Mane)',
  'Rolling Papers',
  'Show And Prove',
  'TGOD Mafia: Rude Awakening'}}

In [101]:
khalifa = json_normalize(wiz,'albums','artist')
cameron = pd.DataFrame([wiz])
cameron = cameron.drop(columns=['albums','genres'])
cameron = cameron.merge(khalifa,left_on='artist',right_on='artist',how='outer')
cameron = cameron.rename(columns={0:'albums'})

main48 = main47.append(cameron)
main48.head()

,artist,followers,popularity,spotify_artist_id,albums
0,Kanye West,7259123,90,5K4W6rqBFWDnAN6FQUkS6x,Only One
1,Kanye West,7259123,90,5K4W6rqBFWDnAN6FQUkS6x,The College Dropout
2,Kanye West,7259123,90,5K4W6rqBFWDnAN6FQUkS6x,The College Dropout (Edited)
3,Kanye West,7259123,90,5K4W6rqBFWDnAN6FQUkS6x,Yeezus
4,Kanye West,7259123,90,5K4W6rqBFWDnAN6FQUkS6x,Graduation

In [102]:
with open('tory_lanez.pkl', 'rb') as handle:
    tory_lanez = pickle.load(handle)
tory_lanez

{'artist': 'Tory Lanez',
 'spotify_artist_id': '2jku7tDXc6XoB6MO2hFuqg',
 'popularity': 83,
 'followers': '1281854',
 'genres': ['canadian hip hop',
  'indie r&b',
  'pop',
  'pop rap',
  'r&b',
  'rap',
  'southern hip hop',
  'trap music'],
 'albums': {'Cold Hard Love',
  'Flex',
  'I Sip',
  'I Told You',
  'LA Confidential',
  'LUV',
  'LUV (Remix)',
  'LUV (Snakehips Remix)',
  'LUV (Tieks Remix)',
  "MEMORIES DON'T DIE",
  'Miss You (Remixes)',
  'Miss You (with Major Lazer & Tory Lanez)',
  'Paid (feat. WithADollarSign & Hella Lavish)',
  'Spotify Sessions'}}

In [103]:
tpry = json_normalize(tory_lanez,'albums','artist')
lanez = pd.DataFrame([tory_lanez])
lanez = lanez.drop(columns=['albums','genres'])
lanez = lanez.merge(tpry,left_on='artist',right_on='artist',how='outer')
lanez = lanez.rename(columns={0:'albums'})

main49 = main48.append(lanez)
main49.head()

,artist,followers,popularity,spotify_artist_id,albums
0,Kanye West,7259123,90,5K4W6rqBFWDnAN6FQUkS6x,Only One
1,Kanye West,7259123,90,5K4W6rqBFWDnAN6FQUkS6x,The College Dropout
2,Kanye West,7259123,90,5K4W6rqBFWDnAN6FQUkS6x,The College Dropout (Edited)
3,Kanye West,7259123,90,5K4W6rqBFWDnAN6FQUkS6x,Yeezus
4,Kanye West,7259123,90,5K4W6rqBFWDnAN6FQUkS6x,Graduation

In [104]:
with open('xan.pkl', 'rb') as handle:
    xan = pickle.load(handle)
xan

{'artist': 'Lil Xan',
 'spotify_artist_id': '3EXdLajEO02ziZ90P90bSW',
 'popularity': 81,
 'followers': '859562',
 'genres': ['underground hip hop'],
 'albums': {'Awe Swear Tah Goddess (Remix)',
  'Been Bout It',
  'Betrayed',
  'Betrayed (Remix)',
  'Color Blind',
  'Crash the Whip',
  'Far',
  'I Got (feat. Lil Xan and $teven Cannon)',
  'Slingshot',
  'Sorry',
  'TOTAL XANARCHY',
  'The Man',
  'Vicodin',
  'Wake Up',
  'Water (Models) [feat. Smokeasac]',
  'Xanarchy'}}

In [105]:
diego = json_normalize(xan,'albums','artist')
lil_xan = pd.DataFrame([xan])
lil_xan = lil_xan.drop(columns=['albums','genres'])
lil_xan = lil_xan.merge(diego,left_on='artist',right_on='artist',how='outer')
lil_xan = lil_xan.rename(columns={0:'albums'})

main50 = main49.append(lil_xan)
main50.head()

,artist,followers,popularity,spotify_artist_id,albums
0,Kanye West,7259123,90,5K4W6rqBFWDnAN6FQUkS6x,Only One
1,Kanye West,7259123,90,5K4W6rqBFWDnAN6FQUkS6x,The College Dropout
2,Kanye West,7259123,90,5K4W6rqBFWDnAN6FQUkS6x,The College Dropout (Edited)
3,Kanye West,7259123,90,5K4W6rqBFWDnAN6FQUkS6x,Yeezus
4,Kanye West,7259123,90,5K4W6rqBFWDnAN6FQUkS6x,Graduation

In [106]:
with open('denzel_curry.pkl', 'rb') as handle:
    denzel_curry = pickle.load(handle)
denzel_curry

{'artist': 'Denzel Curry',
 'spotify_artist_id': '6fxyWrfmjcbj5d12gXeiNV',
 'popularity': 69,
 'followers': '438027',
 'genres': ['drill',
  'hip hop',
  'rap',
  'trap music',
  'underground hip hop',
  'vapor trap'],
 'albums': {'13',
  '32 Zel',
  'Babylon (feat. Denzel Curry)',
  'Babylon (feat. Denzel Curry) [Remixes]',
  'Imperial',
  "It's a Long Game",
  'Knotty Head (UK Remix)',
  'Kristi',
  'No Wave (feat. Denzel Curry)',
  'OMGRONNY',
  'Revelation (feat. Denzel Curry)',
  'Skywalker',
  'Sumo',
  'The U Album',
  'Threatz',
  'Uh Huh',
  'Ultimate',
  'Ultimate / Sick & Tired (BADBADNOTGOOD Sessions)',
  'Vacation In Hell'}}

In [107]:
denzel = json_normalize(denzel_curry,'albums','artist')
curry = pd.DataFrame([denzel_curry])
curry = curry.drop(columns=['albums','genres'])
curry = curry.merge(denzel,left_on='artist',right_on='artist',how='outer')
curry = curry.rename(columns={0:'albums'})

main51 = main50.append(curry)
main51.head()

,artist,followers,popularity,spotify_artist_id,albums
0,Kanye West,7259123,90,5K4W6rqBFWDnAN6FQUkS6x,Only One
1,Kanye West,7259123,90,5K4W6rqBFWDnAN6FQUkS6x,The College Dropout
2,Kanye West,7259123,90,5K4W6rqBFWDnAN6FQUkS6x,The College Dropout (Edited)
3,Kanye West,7259123,90,5K4W6rqBFWDnAN6FQUkS6x,Yeezus
4,Kanye West,7259123,90,5K4W6rqBFWDnAN6FQUkS6x,Graduation

# Combine all files the pickle it into a final file

In [115]:
main51.artist.shape

(780,)

In [119]:
main51.head()

,artist,followers,popularity,spotify_artist_id,albums
0,Kanye West,7259123,90,5K4W6rqBFWDnAN6FQUkS6x,Only One
1,Kanye West,7259123,90,5K4W6rqBFWDnAN6FQUkS6x,The College Dropout
2,Kanye West,7259123,90,5K4W6rqBFWDnAN6FQUkS6x,The College Dropout (Edited)
3,Kanye West,7259123,90,5K4W6rqBFWDnAN6FQUkS6x,Yeezus
4,Kanye West,7259123,90,5K4W6rqBFWDnAN6FQUkS6x,Graduation

In [139]:
album = pd.read_csv('platinum_albums.csv')
album = album.drop(columns=['plat_albums'])

In [140]:
album.shape

(186, 2)

In [141]:
combine = album.merge(main51,left_on='artist',right_on='artist',how='left')
# combine.loc[:,combine.isnull().any()]
combine = combine.dropna()
combine.head()

,artist,plat_yes_no,followers,popularity,spotify_artist_id,albums
36,Drake,1,19729716,99.0,3TVXtAsR1Inumwj472S9r4,Take Care (Deluxe)
37,Drake,1,19729716,99.0,3TVXtAsR1Inumwj472S9r4,If You're Reading This It's Too Late
38,Drake,1,19729716,99.0,3TVXtAsR1Inumwj472S9r4,So Far Gone
39,Drake,1,19729716,99.0,3TVXtAsR1Inumwj472S9r4,What A Time To Be Alive
40,Drake,1,19729716,99.0,3TVXtAsR1Inumwj472S9r4,Views

In [142]:
combine['followers'] = combine['followers'].astype(int)
combine['popularity'] = combine['popularity'].astype(int)

In [143]:
combine.dtypes

artist               object
plat_yes_no           int64
followers             int64
popularity            int64
spotify_artist_id    object
albums               object
dtype: object

In [144]:
combine.shape

(792, 6)

In [145]:
final = combine.to_pickle('final.pkl')